{% extends "macros_templates/deed.html" %}
{% load i18n static %}
{% block title %}
  Creative Commons &mdash; {% include "includes/snippet/license_medium_title.html" %}
  &mdash; CC {{license.license_code.upper }} {{ license.version }}{% if license.jurisdiction_code %} {{ license.jurisdiction_code.upper }}{% endif %}
{% endblock title %}

{% block page_top %}
  <!-- RDF code here for backwards compatibility.  Please use the
       license's RDFa instead. -->
  <!-- {{ license.rdf|safe }} -->
{% endblock page_top %}

{% block license_name %}
  <span class="cc-license-title" property="dc:title dct:title">{% include "includes/snippet/license_medium_title.html" %}</span>
  <span class="cc-license-identifier" property="dc:identifier dct:identifier">
    (CC {{ license.license_code.upper }} {{ license.version }}{% if license.jurisdiction_code %} {{ license.jurisdiction_code.upper }}{% endif %})
  </span>
{% endblock license_name %}

{% block body %}
  <div id="deed-rights"
       dir="{{ get_ltr_rtl }}" style="{{ is_rtl_align }}" class="row">
    {% if license.deprecated_on %}
      <div id="deed-newer" style="text-align:center">
        <h3>{% blocktrans %}Creative Commons has <a href="http://creativecommons.org/retiredlicenses">retired this legal tool</a> and does not recommend that it be applied to works.{% endblocktrans %}</h3>
      </div>
    {% endif %}

    {% if license.jurisdiction_code %}
      {% with c=license.jurisdiction_code imageurl="/images/international/{{ license.jurisdiction_code }}.png" %}
        {% if c != '' and c != 'es' and c != 'igo' %}
          <a href="/worldwide/{{ license.jurisdiction_code }}/">
            <img src="{% static imageurl %}"
                 alt="{{ license.jurisdiction_code }}"
                 style="border: 1px solid #C0C0C0"/>
          </a>
        {% endif %}
      {% endwith %}
    {% endif %}

    <div class="col-sm-offset-2 col-sm-8">
      <h3 style="text-align: center" resource="http://creativecommons.org/ns#Reproduction"
          rel="cc:permits">{% blocktrans %}You are free to:{% endblocktrans %}</h3>
      <ul class="license-properties">
        <li class="license share"
          rel="cc:permits"
          resource="http://creativecommons.org/ns#Distribution">
        {% blocktrans %}<strong>Share</strong>  &mdash; copy and redistribute the material in any medium or format{% endblocktrans %}
        </li>

        {% if license.permits_derivative_works %}
          <li class="license remix"
              rel="cc:permits"
              resource="http://creativecommons.org/ns#DerivativeWorks">
            {% blocktrans %}<strong>Adapt</strong>  &mdash; remix, transform, and build upon the material{% endblocktrans %}
          </li>
        {% endif %}

        {% if not license.prohibits_commercial_use %}
          <li class="license commercial">
            {% blocktrans %}for any purpose, even commercially.{% endblocktrans %}
          </li>
        {% endif %}
        <li id="more-container"
            class="license-hidden">
          <span id="devnations-container" />
        </li>
      </ul>
      </div>

    {% with c=license.license_code %}
      {% if c == 'by' or c == 'by-sa' %}
        <div id="libre" class="col-sm-2">
          <a href="http://freedomdefined.org/" class="screen-only">
            <img src="{% static '/images/deed/FreeCulturalWorks_seal_x2.jpg' %}" style="border: 0"
                 alt="{% blocktrans %}This license is acceptable for Free Cultural Works.{% endblocktrans %}" />
          </a>
          <a href="http://freedomdefined.org/" class="print-only">
            <img src="{% static '/images/deed/seal.png' %}" style="border: 0" alt="" />
          </a>
        </div>
      {% endif %}
    {% endwith %}
  </div>

  <div class="row">
    <ul id="license-freedoms-no-icons" style="text-align: center" class="col-sm-offset-2 col-sm-8">
      <li class="license">{% blocktrans %}The licensor cannot revoke these freedoms as long as you follow the license terms.{% endblocktrans %}</li>
    </ul>
  </div>

  <div class="row"><div class="col-md-offset-1 col-md-10"><hr /></div></div>

  <div id="deed-conditions" class="row">
    <h3 style="text-align: center">{% blocktrans %}Under the following terms:{% endblocktrans %}</h3>

    <ul dir="{{ get_ltr_rtl }}" style="{{ is_rtl_align }}" class="license-properties col-md-offset-2 col-md-8">
      {% if license.requires_attribution %}
      <li class="license by">
          <p>
            <strong>{% blocktrans %}Attribution{% endblocktrans %}</strong> &mdash; <span rel="cc:requires"
          resource="http://creativecommons.org/ns#Attribution">{% blocktrans %}You must give <a href="#" id="appropriate_credit_popup" class="helpLink">appropriate credit</a></span>, provide a link to the license, and <span rel="cc:requires" resource="http://creativecommons.org/ns#Notice"><a href="#" id="indicate_changes_popup" class="helpLink">indicate if changes were made</a></span>.  You may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.{% endblocktrans %}
            <span id="by-more-container"></span>
          </p>

          <p id="work-attribution-container" style="display:none;">
            <strong>
              {% blocktrans %}Attribute this work:{% endblocktrans %}
            </strong>
            <br/>
            <input id="work-attribution" value="" type="text"
                   readonly="readonly" onclick="this.select()"
                   onfocus="document.getElementById('work-attribution').select();"/>
            <input id="license-code" type="hidden"
                   value="CC {{ license.license_code.upper }} {{ license.version }}" />
            <input id="license-url" type="hidden"
                   value="{{ license.about }}" />
            <a href="" id="attribution_help" class="helpLink">
              <img src="{% static 'images/information.png' %}"
                   alt="{% blocktrans %}Information{% endblocktrans %}" />
            </a>
          </p>
        </li>
      {% endif %}
      {% if license.prohibits_commercial_use %}
      <li class="license nc"
          rel="cc:prohibits"
          resource="http://creativecommons.org/ns#CommercialUse">
          <p>
            <strong>{% blocktrans %}NonCommercial{% endblocktrans %}</strong> &mdash; {% blocktrans %}You may not use the material for <a href="#" id="commercial_purposes_popup" class="helpLink">commercial purposes</a>.{% endblocktrans %}
            <span id="nc-more-container"></span>
          </p>
      </li>
      {% endif %}
      {% if not license.permits_derivative_works %}
      <li class="license nd">
          <p>
            <strong>{% blocktrans %}NoDerivatives{% endblocktrans %}</strong> &mdash; {% blocktrans %}If you <a href="#" id="some_kinds_of_mods_popup" class="helpLink">remix, transform, or build upon</a> the material, you may not distribute the modified material.{% endblocktrans %}
            <span id="nd-more-container"></span>
          </p>
      </li>
      {% endif %}
      {% if license.requires_share_alike %}
      <li class="license sa"
          rel="cc:requires"
          resource="http://creativecommons.org/ns#ShareAlike">
          <p>
            <strong>{% blocktrans %}ShareAlike{% endblocktrans %}</strong> &mdash; {% blocktrans %}If you remix, transform, or build upon the material, you must distribute your contributions under the <a href="#" id="same_license_popup" class="helpLink">same license</a> as the original.{% endblocktrans %}
            <span id="sa-more-container"></span>
          </p>
      </li>
      {% endif %}

    </ul>
  </div>
  <div class="row">
    <ul id="deed-conditions-no-icons" class="col-md-offset-2 col-md-8">
      <li class="license">
        <strong>{% blocktrans %}No additional restrictions{% endblocktrans %}</strong> &mdash; {% blocktrans %}You may not apply legal terms or <a href="#" id="technological_measures_popup" class="helpLink">technological measures</a> that legally restrict others from doing anything the license permits.{% endblocktrans %}
      </li>
    </ul>
  </div>
  <div class="row"><div class="col-md-offset-1 col-md-10"><hr /></div></div>
  <div id="deed-understanding" class="row">
    <h3 style="text-align: center">
      {% blocktrans %}Notices:{% endblocktrans %}
    </h3>
    <ul class="understanding license-properties col-md-offset-2 col-md-8">
    {% if license.jurisdiction_code == 'igo' %}
      <li class="license">
        {% blocktrans %}When the Licensor is an intergovernmental organization, disputes will be resolved by <a href="#" id="mediation_and_arbitration_popup" class="helpLink">mediation and arbitration</a> unless otherwise agreed.{% endblocktrans %}
      </li>
    {% endif %}

      <li class="license">
        {% blocktrans %}You do not have to comply with the license for elements of the material in the public domain or where your use is permitted by an applicable <a href="#" id="exception_or_limitation_popup" class="helpLink">exception or limitation</a>.{% endblocktrans %}
      </li>
      <li class="license">
        {% blocktrans %}No warranties are given. The license may not give you all of the permissions necessary for your intended use. For example, other rights such as <a href="#" id="publicity_privacy_or_moral_rights_popup" class="helpLink">publicity, privacy, or moral rights</a> may limit how you use the material.{% endblocktrans %}
      </li>
    </ul>

    {% if license.superseded %}
      <div class="row">
      <div id="deed-newer" class="col-md-offset-2 col-md-8 alert alert-warning" tal:condition="">
        <p>
          {% blocktrans with current_version_url=license.is_replaced_by.about %}A <a href="{{ current_version_url }}">new version</a> of this license is available. You should use it for new works, and you may want to relicense existing works under it. No works are <em>automatically</em> put under the new license, however.{% endblocktrans %}
        </p>
      </div>
      </div>
    {% endif %}

  </div>
  <span id="referrer-metadata-container" />
{% endblock %}

{% block help_panels %}
  {{ block.super }}

  <div id="help_attribution_help" class="help_panel">
    <div class="hd">
      {% blocktrans %}What does "Attribute this work" mean?{% endblocktrans %}
    </div>
    <div class="bd">
      <p>{% blocktrans %}The page you came from contained embedded licensing metadata, including how the creator wishes to be attributed for re-use. You can use the HTML here to cite the work. Doing so will also include metadata on your page so that others can find the original work as well.{% endblocktrans %}</p>
    </div>
  </div>

  <div id="help_mediation_and_arbitration_popup" class="help_panel">
    <div class="bd">
      <p>{% blocktrans %}The applicable mediation rules will be designated in the copyright notice published with the work, or if none then in the request for mediation.  Unless otherwise designated in a copyright notice attached to the work, the UNCITRAL Arbitration Rules apply to any arbitration.{% endblocktrans %}</p>
      <p><a href="http://wiki.creativecommons.org/Intergovernmental_Organizations#What_should_I_know_before_I_use_a_work_licensed_under_the_IGO_3.0_ported_licenses.3F">
        {% blocktrans %}More info{% endblocktrans %}</a>.</p>
    </div>
  </div>

  <div id="help_appropriate_credit_popup" class="help_panel">
    <div class="bd">
      <p>{% blocktrans %}If supplied, you must provide the name of the creator and attribution parties, a copyright notice, a license notice, a disclaimer notice, and a link to the material. CC licenses prior to Version 4.0 also require you to provide the title of the material if supplied, and may have other slight differences.{% endblocktrans %}</p>
      <p><a href="http://wiki.creativecommons.org/License_Versions#Detailed_attribution_comparison_chart">
        {% blocktrans %}More info{% endblocktrans %}</a>.</p>
    </div>
  </div>

  <div id="help_indicate_changes_popup" class="help_panel">
    <div class="bd">
      <p>{% blocktrans %}In 4.0, you must indicate if you modified the material and retain an indication of previous modifications. In 3.0 and earlier license versions, the indication of changes is only required if you create a derivative.{% endblocktrans %}</p>
      <p><a href="http://wiki.creativecommons.org/Best_practices_for_attribution#This_is_a_good_attribution_for_material_you_modified_slightly">
        {% blocktrans %}Marking guide{% endblocktrans %}</a>.</p>
      <p><a href="http://wiki.creativecommons.org/License_Versions#Modifications_and_adaptations_must_be_marked_as_such ">
        {% blocktrans %}More info{% endblocktrans %}</a>.</p>
    </div>
  </div>

  <div id="help_same_license_popup" class="help_panel">
    <div class="bd">
      <p>{% blocktrans %}You may also use a license listed as compatible at <a href="https://creativecommons.org/compatiblelicenses">https://creativecommons.org/compatiblelicenses</a>{% endblocktrans %}</p>
      <p><a href="http://wiki.creativecommons.org/FAQ#If_I_derive_or_adapt_material_offered_under_a_Creative_Commons_license.2C_which_CC_license.28s.29_can_I_use.3F">
        {% blocktrans %}More info{% endblocktrans %}</a>.</p>
    </div>
  </div>

  <div id="help_commercial_purposes_popup" class="help_panel">
    <div class="bd">
      <p>{% blocktrans %}A commercial use is one primarily intended for commercial advantage or monetary compensation.{% endblocktrans %}</p>
      <p><a href="http://wiki.creativecommons.org/Frequently_Asked_Questions#Does_my_use_violate_the_NonCommercial_clause_of_the_licenses.3F">
        {% blocktrans %}More info{% endblocktrans %}</a>.</p>
    </div>
  </div>

  <div id="help_some_kinds_of_mods_popup" class="help_panel">
    <div class="bd">
      <p>{% blocktrans %}Merely changing the format never creates a derivative.{% endblocktrans %}</p>
      <p><a href="http://wiki.creativecommons.org/Frequently_Asked_Questions#When_is_my_use_considered_an_adaptation.3F">
        {% blocktrans %}More info{% endblocktrans %}</a>.</p>
    </div>
  </div>

  <div id="help_technological_measures_popup" class="help_panel">
    <div class="bd">
      <p>{% blocktrans %}The license prohibits application of effective technological measures, defined with reference to Article 11 of the WIPO Copyright Treaty.{% endblocktrans %}</p>
      <p><a href="http://wiki.creativecommons.org/License_Versions#Application_of_effective_technological_measures_by_users_of_CC-licensed_works_prohibited">
        {% blocktrans %}More info{% endblocktrans %}</a>.</p>
    </div>
  </div>

  <div id="help_exception_or_limitation_popup" class="help_panel">
    <div class="bd">
      <p>{% blocktrans %}The rights of users under exceptions and limitations, such as fair use and fair dealing, are not affected by the CC licenses.{% endblocktrans %}</p>
      <p><a href="http://wiki.creativecommons.org/Frequently_Asked_Questions#Do_Creative_Commons_licenses_affect_exceptions_and_limitations_to_copyright.2C_such_as_fair_dealing_and_fair_use.3F">
        {% blocktrans %}More info{% endblocktrans %}</a>.</p>
    </div>
  </div>

  <div id="help_publicity_privacy_or_moral_rights_popup" class="help_panel">
    <div class="bd">
      <p>{% blocktrans %}You may need to get additional permissions before using the material as you intend.{% endblocktrans %}</p>
      <p><a href="http://wiki.creativecommons.org/Considerations_for_licensors_and_licensees">
        {% blocktrans %}More info{% endblocktrans %}</a>.</p>
    </div>
  </div>
{% endblock help_panels %}
