{% extends "base.html" %}
{% load cache %}
{% block content %}
  {% cache 300 translation_status %}
  <h1>Translation status</h1>

  <table border="1">
  <thead>
  <tr>
    <th>Branch name</th>
    <th>Language</th>
    <th>License version</th>
    <th># of legal codes changed</th>
    <th>Last updated in Transifex</th>
    <th># of translated messages</th>
    <th>Total # of messages</th>
    <th>% translated</th>
    <th>Preview (not implemented yet)</th>
  </tr>
  </thead>
  <tbody>
  {% for branch in branches %}
    <tr>
      <td><a href="{% url 'branch_status' branch.id %}">{{ branch.branch_name }}</a></td>
      <td>{{ branch.language_code }}</td>
      <td>{{ branch.version }}</td>
      <td>{{ branch.legalcodes.count }}</td>
      <td>{{ branch.last_transifex_update|default_if_none:"-" }}</td>
      {% with stats=branch.stats %}
        <td>{{ stats.number_of_translated_messages }}</td>
        <td>{{ stats.number_of_total_messages }}</td>
        <td>
        {% if stats.number_of_total_messages %}
          {{ stats.percent_messages_translated }}
        {% else %}
          -
        {% endif %}
        </td>
      {% endwith %}
      <td><a href="#">This will be a link to a preview site.</a></td>
    </tr>
  {% empty %}
    <tr><td>There are no active translation branches.</td></tr>
  {% endfor %}
  </tbody>
  </table>
  {% endcache %}
{% endblock %}
