{% extends "base.html" %}
{% comment %}
For Development purposes, this displays tables of all the available deeds and
legal code. This is not intended for public use and should not be included in
the generation of static files.
{% endcomment %}
{% load i18n license_tags %}

{% block active-breadcrumb-li %}
  <li class="is-active"><a href="{% url 'dev_home' %}" aria-current="page displayed">Dev Home</a></li>
{% endblock %}

{% block content %}
{% trans "Deed" as deed_translated %}
{% trans "Legal Code" as legal_code_translated %}

  <style>
    h2, h3, h4 {
      margin-top:1em;
    }
    th, td {
      border:1px solid black;
      padding:2px;
    }
  </style>
  <div class="columns">
    {# Menu #}

    {# Content #}
    <div class="column">
      <h2 id="develoment">Development</h2>
      <p><a href="/dev/admin/">Django administration</a></p>
      <p><a href="{% url 'dev_404' %}">Error 404</a></p>

      <h2 id="translations">Translation</h2>
      <p><a href="{% url 'translation_status' %}">Translation status</a></p>

      <h2 id="legal-tools">Legal Tools</h2>
      <p>All Declarations &amp; Licenses</p>

      <h3 id="public-domain">Public Domain</h3>
      {% regroup publicdomain by identifier as identifier_list %}
      {% for identifier_group in identifier_list %}
        {% with identifier=identifier_group.grouper %}
          <h4>{{ identifier }}</h4>
          {% regroup identifier_group.list by version as version_list %}
          {% for version_group in version_list %}
            {% with version=version_group.grouper %}
              {% regroup version_group.list by jurisdiction as jurisdiction_list %}
              {% for jurisdiction_group in jurisdiction_list %}
                <h5>{{ jurisdiction_group.grouper }}</h5>
                <table>
                  <thead>
                  <tr>
                    <th>Language</th>
                    {% for code in jurisdiction_group.list|units %}
                      <th>{{ code }}</th>
                    {% endfor %}
                  </tr>
                  </thead>
                  <tbody>
                    {% regroup jurisdiction_group.list by language_code as language_list %}
                    {% for legal_code_group in language_list %}
                      <tr>
                        <th>{{ legal_code_group.grouper }}</th>
                        {% for legal_code in legal_code_group.list  %}
                          <td>
                            <a href="{{ legal_code.deed_url }}">{{ deed_translated }}</a>{% if not legal_code.deed_only %},
                              <a href="{{ legal_code.legal_code_url }}">{{ legal_code_translated }}</a>
                            {% endif %}
                          </td>
                        {% endfor %}
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              {% endfor %}
              <p><a href="#top">^top</a></p>
            {% endwith %}
          {% endfor %}
        {% endwith %}
      {% endfor %}

      <h3 id="licenses">Licenses</h3>
      {% regroup licenses by version as version_list %}
      {% for version_group in version_list %}
        {% with version=version_group.grouper %}
        <h4>{{ version }} Licenses</h4>
          {% regroup version_group.list by jurisdiction as jurisdiction_list %}
          {% for jurisdiction_group in jurisdiction_list %}
            <h5>{{ version }} {{ jurisdiction_group.grouper }}</h5>
            <table>
              <thead>
              <tr>
                <th>Language</th>
                {% for code in jurisdiction_group.list|units %}
                  <th>{{ code }}</th>
                {% endfor %}
              </tr>
              </thead>
              <tbody>
                {% regroup jurisdiction_group.list by language_code as language_list %}
                {% for legal_code_group in language_list %}
                  <tr>
                    <th>{{ legal_code_group.grouper }}</th>
                    {% for legal_code in legal_code_group.list  %}
                      <td>
                        <a href="{{ legal_code.deed_url }}">{{ deed_translated }}</a>,
                        <a href="{{ legal_code.legal_code_url }}">{{ legal_code_translated }}</a>
                      </td>
                    {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endfor %}
          <p><a href="#top">^top</a></p>
        {% endwith %}
      {% endfor %}

    </div>
  </div>
{% endblock content %}
{# vim: ft=jinja.html ts=2 sw=2 sts=2 sr et #}
