{% extends "base.html" %}

{% block active-breadcrumb-li %}
  <li class="is-active"><a href="{% url 'translation_status' %}" aria-current="page displayed">Translation Status</a></li>
{% endblock %}


{% block content %}
  <style>
    h2, h3, h4 {
      margin-top:1em;
    }
    th, td {
      border:1px solid black;
      padding:2px;
    }
  </style>

  <h1>Deed & UX Translation Status</h1>
  <table border="1">
  <thead>
  <tr>
    <th>Language Code</th>
    <th>Percent Translated</th>
    <th>Created</th>
    <th>Updated</th>
  </tr>
  </thead>
  {% for language_code, info in deed_ux.items %}
    <tr>
      <td><code>{{ language_code }}</code></td>
      <td
      {% if info.percent_translated == 0 %}
        style="background-color:#ffeeee;text-align:right;">
      {% elif info.percent_translated < 80 %}
        style="background-color:#ffffee;text-align:right;">
      {% else %}
        style="background-color:#eeffee;text-align:right;">
      {% endif %}
        {{ info.percent_translated }}%
      </td>
      <td>{{ info.created }}</td>
      <td>{{ info.updated }}</td>
    </tr>
  {% endfor %}
  </table>

  <h1>Legal Code Translation Status</h1>
  <table border="1">
  <thead>
  <tr>
    <th>Branch name</th>
    <th>Language</th>
    <th>License version</th>
    <th># of legal codes changed</th>
    <th>Last updated in Transifex</th>
    <th># of translated messages</th>
    <th>Total # of messages</th>
    <th>% translated</th>
    <th>Preview (not implemented yet)</th>
  </tr>
  </thead>
  <tbody>
  {% for branch in branches %}
    <tr>
      <td><a href="{% url 'branch_status' branch.id %}">{{ branch.branch_name }}</a></td>
      <td>{{ branch.language_code }}</td>
      <td>{{ branch.version }}</td>
      <td>{{ branch.legal_codes.count }}</td>
      <td>{{ branch.last_transifex_update|default_if_none:"-" }}</td>
      {% with stats=branch.stats %}
        <td>{{ stats.number_of_translated_messages }}</td>
        <td>{{ stats.number_of_total_messages }}</td>
        <td>
        {% if stats.number_of_total_messages %}
          {{ stats.percent_messages_translated }}
        {% else %}
          -
        {% endif %}
        </td>
      {% endwith %}
      <td><a href="#">This will be a link to a preview site.</a></td>
    </tr>
  {% empty %}
    <tr><td>There are no active translation branches.</td></tr>
  {% endfor %}
  </tbody>
  </table>

{% endblock %}
{# vim: ft=jinja.html ts=2 sw=2 sts=2 sr et #}
