# Please reference the following when adding new entries to minimize the delta
# between them and this file:
# - https://github.com/github/gitignore/blob/master/Python.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
build/
docroot/
log/

# Editor
*.sw[po]
*~
