# Remember to also update the GitHub Actions configuration, as appropriate:
#   cc-legal-tools-app/.github/workflows/pre-commit.yml
#
# Also see:
#   .env
#   Dockerfile
#
# https://docs.docker.com/compose/compose-file/

services:

  app:
    build:
      context: .
      dockerfile: Dockerfile.app
    command: "python manage.py runserver 0.0.0.0:${PORT_APP}"
    environment:
      - DJANGO_SETTINGS_MODULE=${DOCKER_DJANGO_SETTINGS_MODULE}
    ports:
      - "127.0.0.1:${PORT_APP}:${PORT_APP}"
    restart: on-failure
    volumes:
      - '.:/home/cc/cc-legal-tools-app'
      - "${RELPATH_DATA}:/home/cc/cc-legal-tools-data"

  prettier:
    build:
      context: .
      dockerfile: Dockerfile.prettier
    command: bash -c 'node prettier-server.js'
    deploy:
      replicas: 2
    ports:
      - "3000"
    restart: on-failure

  # static
  #   the static service is loaded from ../cc-legal-tools-data if the .env
  #   file has been properly copied and configured.
