[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Babel = "*"
Django = ">=3.2.25,<3.3"
GitPython = ">=3.1.41"
PyYAML = "*"
beautifulsoup4 = "*"
certifi = ">=2023.7.22"  # Ensure dependency is secure
colorlog = "*"
dealer = "*"
gitpython = ">=3.1.37"  # Ensure dependency is secure
lxml = "*"  # Dependency of beautifulsoup4 and RDF/XML processing
polib = "*"
python-dateutil = "*"
rdflib = "*"
transifex-python = "*"
urllib3 = ">=2.0.7"  # Ensure dependency is secure
whitenoise = "*"

[dev-packages]
black = ">=24.3.0"
coverage = "*"
django-debug-toolbar = "*"
factory-boy = "*"
flake8 = "*"
isort = "*"
pre-commit = "*"
tblib = "*"  # Dependency of coverage (with --parallel)

[requires]
python_version = "3.10"
