[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Babel = "*"
Django = ">=4.2.17,<4.3"
GitPython = ">=3.1.41"
PyYAML = "*"
beautifulsoup4 = "*"
certifi = ">=2023.7.22"  # Ensure dependency is secure
colorlog = "*"
dealer = "*"
gitpython = ">=3.1.37"  # Ensure dependency is secure
lxml = "*"  # Dependency of beautifulsoup4 and RDF/XML processing
polib = "*"
python-dateutil = "*"
rdflib = "*"
transifex-python = "*"
urllib3 = ">=2.2.2"  # Ensure dependency is secure
whitenoise = "*"
markdown = "*"

[dev-packages]
black = ">=24.3.0"  # Sync version with [static-analysis], below
coverage = "*"
django-debug-toolbar = "*"
factory-boy = "*"
flake8 = "*"        # Sync version with [static-analysis], below
isort = "*"         # Sync version with [static-analysis], below
pre-commit = "*"    # Sync version with [static-analysis], below
tblib = "*"  # Dependency of coverage (with --parallel)

[static-analysis]
black = ">=24.3.0"  # Sync version with [dev-packages], above
flake8 = "*"        # Sync version with [dev-packages], above
isort = "*"         # Sync version with [dev-packages], above
pre-commit = "*"    # Sync version with [dev-packages], above

[requires]
python_version = "3.11"
