asgiref==3.5.2
Babel==2.10.3
beautifulsoup4==4.11.1
bs4==0.0.1
colorlog==6.7.0
dealer==2.1.0
Django==3.2.14
django-debug-toolbar==3.7.0
gitdb==4.0.9
GitPython==3.1.29
lxml==4.9.1
polib==1.1.1
python-dateutil==2.8.2
pytz==2022.4
PyYAML==6.0
six==1.16.0
smmap==5.0.0
soupsieve==2.3.2.post1
sqlparse==0.4.3
