{% extends "base.html" %}
{% comment %}
For test purposes, this displays all the available deeds and licenses in tables.
This is not intended for public use and should not be included in the generation
of static files.
{% endcomment %}
{% load i18n license_tags %}
{% block content %}
  <h1><b>All licenses</b></h1>

  <p><a href="{% url 'translation_status' %}">Translation status</a></p>

  <p>Licenses:</p>

  {% regroup legalcodes by version as version_list %}

  {% for version_group in version_list %}
    {% with version=version_group.grouper %}
    <h3>{{ version }}</h3>

      {% regroup version_group.list by jurisdiction as jurisdiction_list %}
      {% for jurisdiction_group in jurisdiction_list %}
        <h4>{{ jurisdiction_group.grouper|default:"Unported" }}</h4>
        <table border=1>
          <thead>
          <tr>
            <th>Language</th>
            {% for code in jurisdiction_group.list|license_codes %}
              <th>{{ code }}</th>
            {% endfor %}
          </tr>
          </thead>
          <tbody>
            {% regroup jurisdiction_group.list by language_code as language_list %}
            {% for license_group in language_list %}
              <tr>
                <th>{{ license_group.grouper }}</th>
                {% for legalcode in license_group.list  %}
                  <td>
                    <a href="{{ legalcode.deed_url }}">{% trans "Deed" %}</a>
                    <a href="{{ legalcode.license_url }}">{% trans "License" %}</a>
                  </td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endfor %}
    {% endwith %}
  {% endfor %}
{% endblock content %}
