{% extends "base.html" %}
{% comment %}
For Development purposes, this displays tables of all the available deeds and
legalcode. This is not intended for public use and should not be included in
the generation of static files.
{% endcomment %}
{% load i18n license_tags %}
{% block content %}
  <style>
    th, td {
        border:1px solid black;
        padding:2px;
    }
  </style>
  <h1><b>All Declarations & Licenses</b></h1>

  <h2>Information</h2>
  <p><a href="{% url 'translation_status' %}">Translation status</a></p>

  <h2>Public Domain:</h2>
  {% regroup publicdomain by version as version_list %}
  {% for version_group in version_list %}
    {% with version=version_group.grouper %}
    <h3>{{ version }}</h3>
      {% regroup version_group.list by jurisdiction as jurisdiction_list %}
      {% for jurisdiction_group in jurisdiction_list %}
        <h4>{{ jurisdiction_group.grouper }}</h4>
        <table>
          <thead>
          <tr>
            <th>Language</th>
            {% for code in jurisdiction_group.list|license_codes %}
              <th>{{ code }}</th>
            {% endfor %}
          </tr>
          </thead>
          <tbody>
            {% regroup jurisdiction_group.list by language_code as language_list %}
            {% for license_group in language_list %}
              <tr>
                <th>{{ license_group.grouper }}</th>
                {% for legalcode in license_group.list  %}
                  <td>
                    <a href="{{ legalcode.deed_url }}">{% trans "Deed" %}</a>,
                    <a href="{{ legalcode.license_url }}">{% trans "License" %}</a>
                  </td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endfor %}
    {% endwith %}
  {% endfor %}

  <h2>Licenses:</h2>
  {% regroup licenses by version as version_list %}
  {% for version_group in version_list %}
    {% with version=version_group.grouper %}
    <h3>{{ version }}</h3>
      {% regroup version_group.list by jurisdiction as jurisdiction_list %}
      {% for jurisdiction_group in jurisdiction_list %}
        <h4>{{ jurisdiction_group.grouper }}</h4>
        <table>
          <thead>
          <tr>
            <th>Language</th>
            {% for code in jurisdiction_group.list|license_codes %}
              <th>{{ code }}</th>
            {% endfor %}
          </tr>
          </thead>
          <tbody>
            {% regroup jurisdiction_group.list by language_code as language_list %}
            {% for license_group in language_list %}
              <tr>
                <th>{{ license_group.grouper }}</th>
                {% for legalcode in license_group.list  %}
                  <td>
                    <a href="{{ legalcode.deed_url }}">{% trans "Deed" %}</a>,
                    <a href="{{ legalcode.license_url }}">{% trans "License" %}</a>
                  </td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endfor %}
    {% endwith %}
  {% endfor %}



{% endblock content %}
