{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta-description %}{% endblock %}">
    <meta name="author" content="{% block meta-author %}{% endblock %}">
    <meta name="keywords" content="{% block meta-keywords %}{% endblock %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@creativecommons/vocabulary/css/vocabulary.css">
</head>
<body>
    {% include 'includes/header.html' %}
    <main>
        <div class="level padding-large">
            {% include 'includes/breadcrumbs.html' %}
            {% include 'includes/locale.html' %}
        </div>
        <section>
            {% block content %}{% endblock %}
        </section>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/@creativecommons/vocabulary/js/vocabulary.js"></script>
    {% block extra_js %}
    <script>
        /**
         * Get the fully-qualified URL of a Vocabulary asset.
         *
         * @param {string} version - the Vocabulary version in which to locate the asset
         * @param {string} path - the path of the asset being patched
         * @return {string} the fully qualified URL of the asset
         */
        const getFullyQualifiedUrl = (version, path) => {
        //   let baseUrl = 'https://unpkg.com/@creativecommons/vocabulary'
          // If you prefer jsDelivr instead, use
          let baseUrl = 'https://cdn.jsdelivr.net/npm/@creativecommons/vocabulary'
          return `${baseUrl}@${version}/${path}`
        }

        /**
         * Create an invisible container and place the asset into the DOM.
         *
         * This function is intended to be used to patch SVG assets that are later
         * referenced inside `<use>` tags in `<svg>` tags. It can also be used to force
         * an image to be downloaded to speed up its loading when referenced again.
         *
         * @param {string} path - the path of the asset being patched
         * @param {string} version - the Vocabulary version in which to locate the asset
         */
        const patchAssetIntoDom = (path, version = 'latest') => {
          fetch(getFullyQualifiedUrl(version, path)).then(response => {
            return response.text()
          }).then(data => {
            // Render SVG in the page
            const logo = document.querySelector('#cc-logo')
            logo.innerHTML = data;
          })
        }

        patchAssetIntoDom('assets/logos/cc/logomark.svg');
      </script>
    {% endblock %}
</body>
</html>

<style>body {background-color: rgb(245, 245, 245);}</style>
