{% extends "base.html" %}
{% load i18n license_tags %}
{% block content %}
  <p><b>Temporary homepage</b></p>

  <p>Some licenses:</p>

  {% for version, license_codes, language_codes in licenses_by_version %}
    <h2>{{ version }}</h2>
    <table border=1>
      <thead>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          {% for code in license_codes %}
            <td>{{ code }}</td>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for language_code in language_codes %}
          {% get_language_info for language_code as lang %}
          <tr>
            <th>{{ language_code }}</th>
            <th>{{ lang.name_local }}</th>
            <th>{{ lang.name }}</th>
            {% for license_code in license_codes %}
              <td>
                <a href="{% build_deed_url license_code version "" language_code %}">Deed</a>
                <a href="{% build_license_url license_code version "" language_code %}">License</a>
              </td>
            {% endfor %}

            <td>
              <a href="{% url 'translation_consistency' version language_code %}">_*_</a>
            </td>

          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endfor %}
  </ul>

{##}
{#  <ul>#}
{#    <li>BY#}
{#      <a href="{% url 'license_deed_lang' 'by' '2.0' 'en-us' %}">2.0</a>#}
{#      <a href="{% url 'license_deed_lang' 'by' '3.0' 'en-us' %}">3.0</a>#}
{#      <a href="{% url 'license_deed_lang' 'by' '4.0' 'en-us' %}">4.0</a>#}
{#    </li>#}
{#    <li>BY-SA#}
{#      <a href="{% url 'license_deed_lang' 'by-sa' '2.0' 'en-us' %}">2.0</a>#}
{#      <a href="{% url 'license_deed_lang' 'by-sa' '3.0' 'fr-ca' %}">3.0</a>#}
{#      <a href="{% url 'license_deed_lang' 'by-sa' '4.0' 'en-us' %}">4.0</a>#}
{#    </li>#}
{#    <li>BY-NC-ND#}
{#      <a href="{% url 'license_deed_lang' 'by-nc-nd' '2.0' 'en-us' %}">2.0</a>#}
{#      <a href="{% url 'license_deed_lang' 'by-nc-nd' '3.0' 'en-us' %}">3.0</a>#}
{#      <a href="{% url 'license_deed_lang' 'by-nc-nd' '4.0' 'en' %}">4.0</a>#}
{#    </li>#}
{#  </ul>#}
{% endblock content %}
