{% extends "base.html" %}
{% block content %}
  <p><b>Temporary homepage</b></p>

  <p><a href="{% url 'license_detail' %}">Example license page (styled)</a></p>
  <p><a href="{% url 'sampling_detail' %}">Example sampling license page (styled)</a></p>
  <p><a href="{% url 'deed_detail' %}">Example deed page (styled)</a></p>

  <p>Some deeds to look at:</p>
  <ul>
  {% for code, licenses_of_code in licenses_by_code.items %}
    <li>{{ code }}
      <ul>
        {% for version, licenses_of_version in licenses_of_code.items %}
          <li>{{ version }}
            <ul>
              {% for jurisdiction, licenses_of_jurisdiction in licenses_of_version.items %}
                <li>{% if jurisdiction %}Jurisdiction:{{ jurisdiction.code }}{% endif %}
                  {% if licenses_of_jurisdiction|length > 1 %}
                    <ul>
                      {% for license in licenses_of_jurisdiction %}
                        <li><a href="{{ license.get_deed_url }}">{{ license.about }}</a></li>
                      {% endfor %}
                    </ul>
                  {% else %}
                      {% for license in licenses_of_jurisdiction %}
                        <a href="{{ license.get_deed_url }}">{{ license.about }}</a>
                      {% endfor %}
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
  </ul>

{##}
{#  <ul>#}
{#    <li>BY#}
{#      <a href="{% url 'license_deed_lang' 'by' '2.0' 'en-us' %}">2.0</a>#}
{#      <a href="{% url 'license_deed_lang' 'by' '3.0' 'en-us' %}">3.0</a>#}
{#      <a href="{% url 'license_deed_lang' 'by' '4.0' 'en-us' %}">4.0</a>#}
{#    </li>#}
{#    <li>BY-SA#}
{#      <a href="{% url 'license_deed_lang' 'by-sa' '2.0' 'en-us' %}">2.0</a>#}
{#      <a href="{% url 'license_deed_lang' 'by-sa' '3.0' 'fr-ca' %}">3.0</a>#}
{#      <a href="{% url 'license_deed_lang' 'by-sa' '4.0' 'en-us' %}">4.0</a>#}
{#    </li>#}
{#    <li>BY-NC-ND#}
{#      <a href="{% url 'license_deed_lang' 'by-nc-nd' '2.0' 'en-us' %}">2.0</a>#}
{#      <a href="{% url 'license_deed_lang' 'by-nc-nd' '3.0' 'en-us' %}">3.0</a>#}
{#      <a href="{% url 'license_deed_lang' 'by-nc-nd' '4.0' 'en' %}">4.0</a>#}
{#    </li>#}
{#  </ul>#}
{% endblock content %}
