figure:nth-of-type(1):has(img) {
    width: 120%;
    margin: 0;
    margin-left: -10%;
    margin-bottom: 3em;
    padding: 0;
    float: none;
}

figure:has(img.alignleft) {
    margin-top: 2em;
    margin-right: 2em;
    margin-left: -10%;
    width: 50%;
    float: left;
}

figure:has(img.alignleft):after {
    display: block;
    content: '';
    height: 3em;
    clear: both;
}

figure:has(img.alignright) {
    margin-top: 2em;
    margin-right: -10%;
    margin-left: 2em;
    width: 50%;
    float: right;
}

figure:has(img.alignright):after {
    display: block;
    content: '';
    height: 2em;
    clear: both;
}

figure:has(img.aligncenter) {
    width: 100%;

    margin-left: 0;
}

figure img.alignleft {
    float: none;
}

figure img.alignright {
    float: none;
}
