{% load bidi %}{% comment %}{#
This snippet handles media queries for the icons within deed_body and
sampling_deed templates

next to license title just above text of license itself
#}{% endcomment %}{% if is_icon_header %}
<i
  class="{{ icon_type }} icon has-text-black has-background-white is-size-1 is-hidden-touch margin-normal {{ additional_classes }}"
></i>
<i
  class="{{ icon_type }} icon has-text-black has-background-white is-size-2 padding-{% start %}-normal is-hidden-desktop margin-small {{ additional_classes }}"
></i>
{% elif is_license_header %}{# very top of page #}
<i
  class="{{ icon_type }} icon has-text-black has-background-white is-size-1 padding-{% start %}-big is-hidden-touch margin-big {{ additional_classes }}"
></i>
<i
  class="{{ icon_type }} icon has-text-black has-background-white is-size-2 padding-{% start %}-normal is-hidden-desktop margin-small {{ additional_classes }}"
></i>
{% else %}
<i
  class="{{ icon_type }} icon has-text-black has-background-white is-size-1 padding-{% start %}-big is-hidden-touch {{ additional_classes }}"
></i>
<i
  class="{{ icon_type }} icon has-text-black has-background-white is-size-2 padding-{% start %}-normal is-hidden-desktop {{ additional_classes }}"
></i>
{% endif %}
{# vim: ft=jinja.html ts=2 sw=2 sts=2 sr et #}
