{% load i18n %}
<nav class="breadcrumb level-left caption bold" aria-label="breadcrumbs">
  <ul>
      {% block breadcrumbs-li %}
      <li><a href="#">{% trans "Home" %}</a></li>
      <li><a href="#">{% trans "License" %}</a></li>
      {% if 'legalcode' in request.path %}
        <li class="is-active"><a href="#" aria-current="page displayed">{% trans "Legal Code for" %} {% include "includes/snippet/license_medium_title.html" %}</a></li>
      {% else %}
      <li class="is-active"><a href="#" aria-current="page displayed">{% trans "License Deed for" %} {% include "includes/snippet/license_medium_title.html" %}</a></li>
      {% endif %}
      {% endblock %}
  </ul>
</nav>

<style>
  html[dir="rtl"] nav.breadcrumb>ul li+li:before {
    transform: scaleX(-1);
  }

  html[dir="rtl"] .breadcrumb li:first-child a {
      padding-right: 0;
      padding-left: .5rem;
  }
</style>
