{% load i18n %}
<nav class="breadcrumb level-left caption bold" aria-label="breadcrumbs">
  <ul>
      {% block breadcrumbs-li %}
      <li><a href="#">{% trans "Home" %}</a></li>
      <li><a href="#">{% trans "Child page" %}</a></li>
      <li><a href="#">{% trans "Child child page" %}</a></li>
      <li class="is-active"><a href="#" aria-current="page displayed">{% trans "Page displayed" %}</a></li>
      {% endblock %}
  </ul>
</nav>

<style>
  html[dir="rtl"] nav.breadcrumb>ul li+li:before {
    transform: scaleX(-1);
  }

  html[dir="rtl"] .breadcrumb li:first-child a {
      padding-right: 0;
      padding-left: .5rem;
  }
</style>
