{% load i18n %}
<div id="deed-body" class="margin-vertical-bigger padding-xxl has-text-black" >
  {% include 'includes/snippet/icon_header_snippet.html' %}

  {# NO COPYRIGHT #}
  <h3 class="b-header  padding-bottom-big padding-top-normal" style="font-weight: bold;">{% blocktrans trimmed %}No Copyright{% endblocktrans %}</h3>
  <div class="columns is-multiline">
    <div class="column is-1">
      {% include 'includes/snippet/icon.html' with icon_type='cc-zero' additional_classes="padding-top-normal" %}
    </div>
    <div class="column is-11">
      <p class=" body-big padding-bottom-normal">{% blocktrans trimmed %}The person who associated a work with this deed has <b>dedicated</b> the work to the public domain by waiving all of his or her rights to the work worldwide under copyright law, including all related and neighboring rights, to the extent allowed by law.{% endblocktrans %}</p>
      <p class=" body-big padding-bottom-normal">{% blocktrans trimmed %}You can copy, modify, distribute and perform the work, even for commercial purposes, all without asking permission. See <b>Other Information</b> below.{% endblocktrans %}</p>
    </div>

    {# END NO COPYRIGHT #}
    {# OTHER INFORMATION #}

    <h3 class="b-header  padding-bottom-big padding-top-normal" style="font-weight: bold;">{% blocktrans trimmed %}Other Information{% endblocktrans %}</h3>
    <div class="columns is-multiline">
      <div class="column is-1"></div>
      <div class="column is-11">
        <ul>
          <li><p class=" body-big padding-bottom-normal">{% blocktrans trimmed %}In no way are the patent or trademark rights of any person affected by CC0, nor are the rights that other persons may have in the work or in how the work is used, such as <a href="https://wiki.creativecommons.org/Frequently_Asked_Questions#When_are_publicity_rights_relevant.3F" class="helpLink" id="publicity_rights">publicity or privacy</a> rights.{% endblocktrans %}
          </li>
          <li><p class=" body-big padding-bottom-normal">{% blocktrans trimmed %}Unless expressly stated otherwise, the person who associated a work with this deed makes no warranties about the work, and disclaims liability for all uses of the work, to the fullest extent permitted by applicable law.{% endblocktrans %}</li>
          <li><p class=" body-big padding-bottom-normal">{% blocktrans trimmed %}When using or citing the work, you should not imply <a href="" class="helpLink" id="endorsement">endorsement</a> by the author or the affirmer.{% endblocktrans %}</li>
        </ul>
      </div>
    </div>

    <h4 class="b-header  padding-bottom-big padding-top-normal" style="font-weight: bold;">{% blocktrans trimmed %}Other Rights{% endblocktrans %}</h4>
    <div>
      <p>{% blocktrans trimmed %}The use of a work free of known copyright restrictions may be otherwise regulated or limited. The work or its use may be subject to personal data protection laws, publicity, image, or privacy rights that allow a person to control how their voice, image or likeness is used, or other restrictions or limitations under applicable law.{% endblocktrans %}</p>
      <p><a href="https://wiki.creativecommons.org/Frequently_Asked_Questions#When_are_publicity_rights_relevant.3F">{% blocktrans trimmed %}Learn more{% endblocktrans %}</a>.</p>
    </div>


    <h4 class="b-header  padding-bottom-big padding-top-normal" style="font-weight: bold;">{% blocktrans trimmed %}Endorsement{% endblocktrans %}</h4>
    <div>
      <p>{% blocktrans trimmed %}In some jurisdictions, wrongfully implying that an author, publisher or anyone else endorses your use of a work may be unlawful.{% endblocktrans %}</p>
      <p><a href="https://wiki.creativecommons.org/Frequently_Asked_Questions#Do_I_need_to_be_aware_of_anything_else_when_providing_attribution_or_credit.3F">{% blocktrans trimmed %}Learn more{% endblocktrans %}</a>.</p>
    </div>

    <h4 class="b-header  padding-bottom-big padding-top-normal" style="font-weight: bold;">{% blocktrans trimmed %}Citation{% endblocktrans %}</h4>
    <div>
      <p>
        {% blocktrans trimmed %}Copy and paste the HTML provided into your webpage to easily cite this work.{% endblocktrans %}
      </p>
      <p>
        <a href="https://wiki.creativecommons.org/CC0_FAQ#Do_I_have_to_attribute_the_person_who_applied_CC0_to_their_work.3F">{% blocktrans trimmed %}Learn more{% endblocktrans %}</a>
      </p>
    </div>

    <h4 class="b-header  padding-bottom-big padding-top-normal" style="font-weight: bold;">{% blocktrans trimmed %}Who is the affirmer?{% endblocktrans %}</h4>
    <div>
      <p>
        {% blocktrans trimmed %}The affirmer is the person who surrendered rights to the work worldwide using CC0, to the extent allowable by law. It may be the original author of the work or another person who may have had some copyright or related or neighboring legal rights in the work.{% endblocktrans %}
      </p>
    </div>
  </div>{# end deed-body #}
</div>
