{% load i18n license_tags static %}
<div id="deed-body" class="margin-vertical-bigger padding-xxl" >
  {% include 'includes/snippet/icon_header_snippet.html' %}

  <h3 class="b-header has-text-black padding-bottom-big padding-top-normal" style="font-weight: bold;">Error</h3>

  <p class="has-text-black body-big padding-bottom-normal"><strong>Unimplemented</strong> &mdash; this legal tool does not have a valid deed template. Please report this issue: <a href="https://github.com/creativecommons/cc-licenses/issues">Issues · creativecommons/cc-licenses</a>.</p>
</div>
{# vim: ft=jinja.html ts=2 sw=2 sts=2 sr et #}
