{% load i18n %}
<div id="deed-body" class="margin-vertical-bigger padding-xxl" >
  {% include 'includes/snippet/icon_header_snippet.html' %}
  {# Deed Main Content (below) seems to be coming straight from database based on the example provided from cc5 #}
  {# Adding an example of what the deed should look like here #}
  <h3 class="b-header has-text-black padding-bottom-big padding-top-normal" style="font-weight: bold;">{% trans "You are free to:" %}</h3>
  <p class="has-text-black body-big padding-bottom-normal">{% blocktrans %}<strong>Share</strong>  &mdash; copy and redistribute the material in any medium or format{% endblocktrans %}
  </p>
  <p class="has-text-black body-big padding-bottom-small">{% blocktrans %}<strong>Adapt</strong>  &mdash; remix, transform, and build upon the material{% endblocktrans %}
  </p>
  <p class="has-text-black body-big padding-bottom-small">
    {% blocktrans %}The licensor cannot revoke these freedoms as long as you follow the license terms.{% endblocktrans %}
  </p>
  <h3 class="b-header has-text-black padding-bottom-big padding-top-normal" style="font-weight: bold;">
    {% trans "Under the following terms:" %}
  </h3>
  <div class="columns is-multiline">
    {# Forloop  - populate content from deed model#}
    <div class="column is-1">
      {% include 'includes/snippet/icon.html' with icon_type='cc-by' %}
    </div>
    <div class="column is-11">
      <p class="has-text-black body-big padding-bottom-normal">
        <span style="font-weight: bold;">{% trans "Attribution" %}</span> -

        {% blocktrans %}You must give <a href="#" id="appropriate_credit_popup" class="helpLink">appropriate credit</a></span>, provide a link to the license, and <span rel="cc:requires" resource="http://creativecommons.org/ns#Notice"><a href="#" id="indicate_changes_popup" class="helpLink">indicate if changes were made</a></span>.  You may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.{% endblocktrans %}
      </p>
    </div>
    {# endfor #}
    <div class="column is-1">
      {% include 'includes/snippet/icon.html' with icon_type='cc-nc' %}
    </div>
    <div class="column is-11">
      <p class="has-text-black body-big padding-bottom-normal">
        <span style="font-weight: bold;">{% trans "NonCommercial" %}</span> -

        {% blocktrans %}You may not use the material for <a href="#" id="commercial_purposes_popup" class="helpLink">commercial purposes</a>.{% endblocktrans %}
      </p>
    </div>
    <div class="column is-1">
      {% include 'includes/snippet/icon.html' with icon_type='cc-sa' %}
    </div>
    <div class="column is-11">
      <p class="has-text-black body-big padding-bottom-normal">
        <span style="font-weight: bold;">{% trans "ShareAlike" %}</span> - {% blocktrans %}If you remix, transform, or build upon the material, you must distribute your contributions under the <a href="#" id="same_license_popup" class="helpLink">same license</a> as the original.{% endblocktrans %}
      </p>
    </div>
    <div class="column is-1">
    </div>
    <div class="column is-11">
      <p class="has-text-black body-big padding-bottom-normal">
        <span style="font-weight: bold;">{% trans "No additional restrictions" %}</span> - {% blocktrans %}You may not apply legal terms or <a href="#" id="technological_measures_popup" class="helpLink">technological measures</a> that legally restrict others from doing anything the license permits.{% endblocktrans %}
      </p>
    </div>
  </div>
  <h3 class="b-header has-text-black padding-bottom-big padding-top-normal" style="font-weight: bold;">{% trans "Notices:" %}</h3>
  <p class="has-text-black body-big padding-bottom-normal">
    {% blocktrans %}You do not have to comply with the license for elements of the material in the public domain or where your use is permitted by an applicable <a href="#" id="exception_or_limitation_popup" class="helpLink">exception or limitation</a>.{% endblocktrans %}
  </p>
  <p class="has-text-black body-big padding-bottom-normal">
    {% blocktrans %}No warranties are given. The license may not give you all of the permissions necessary for your intended use. For example, other rights such as <a href="#" id="publicity_privacy_or_moral_rights_popup" class="helpLink">publicity, privacy, or moral rights</a> may limit how you use the material.{% endblocktrans %}
  </p>
</div>

<style>
  #deed-body {
    background-color: rgb(255, 255, 255);
    border-top: 10px solid rgb(60, 92, 153);
    border-bottom: 5px solid rgb(176, 176, 176);
    border-left: 5px solid rgb(176, 176, 176);
    border-right: 5px solid rgb(176, 176, 176);
  }
</style>
