<div id="deed-body" class="margin-vertical-bigger padding-xxl">
  {% include 'includes/snippet/icon_header_snippet.html' %}
  {# Deed Main Content (below) seems to be coming straight from database based on the example provided from cc5 #}
  {# Adding an example of what the deed should look like here #}
  <h3 class="b-header has-text-black padding-bottom-big padding-top-normal" style="font-weight: bold;">You are free to:</h3>
  <p class="has-text-black body-big padding-bottom-normal"><span style="font-weight: bold;">Share</span> - 
    copy and redistribute the material in any medium or format
  </p>
  <p class="has-text-black body-big padding-bottom-small"><span style="font-weight: bold;">Adapt</span> - 
    remix, transform, and build upon the material
  </p>
  <p class="has-text-black body-big padding-bottom-small">
    The licensor cannot revoke these freedoms as long as you follow the license terms.
  </p>
  <h3 class="b-header has-text-black padding-bottom-big padding-top-normal" style="font-weight: bold;">Under the following terms:</h3>
  <div class="columns is-multiline">
    {# Forloop  - populate content from deed model#}
    <div class="column is-1">
      <i class="cc-by icon has-text-black has-background-white is-size-1 padding-left-big"></i>
    </div>
    <div class="column is-11">
      <p class="has-text-black body-big padding-bottom-normal">
        <span style="font-weight: bold;">Attribution</span> - You must give <a href="#">appropriate credit</a>, 
        provide a link to the license, and <a href="#">indicate if changes were made</a>. You may do so in any 
        reasonable manner, but not in any way that suggests the licensor endorses you or your use.
      </p>
    </div>
    {# endfor #}
    <div class="column is-1">
      <i class="cc-nc icon has-text-black has-background-white is-size-1 padding-left-big"></i>
    </div>
    <div class="column is-11">
      <p class="has-text-black body-big padding-bottom-normal">
        <span style="font-weight: bold;">NonCommercial</span> - You may not use the material for <a href="#">commercial purposes</a>.
      </p>
    </div>
    <div class="column is-1">
      <i class="cc-sa icon has-text-black has-background-white is-size-1 padding-left-big"></i>
    </div>
    <div class="column is-11">
      <p class="has-text-black body-big padding-bottom-normal">
        <span style="font-weight: bold;">ShareAlike</span> - If you remix, transform, or build upon the material, you must distribute 
        your contributions under the <a href="#">same license</a> as the original.
      </p>
    </div>
    <div class="column is-1">
    </div>
    <div class="column is-11">
      <p class="has-text-black body-big padding-bottom-normal">
        <span style="font-weight: bold;">No additional restrictions</span> - You may not apply legal terms or <a href="#">technological measures</a> that legally 
        restrict others from doing anything the license permits.
      </p>
    </div>
  </div>
  <h3 class="b-header has-text-black padding-bottom-big padding-top-normal" style="font-weight: bold;">Notices</h3>
  <p class="has-text-black body-big padding-bottom-normal">
    You do not have to comply with the license for elements of the material in the public domain or where your use is 
    permitted by an applicable <a href="#">exception or limitation.</a>
  </p>
  <p class="has-text-black body-big padding-bottom-normal">
    No warranties are given. The license may not give you all of the permissions necessary for your intended use. 
    For example, other rights such as <a href="#">publicity, privacy, or moral rights</a> may limit how you use the 
    material.
  </p>
</div>

<style>
  #deed-body {
    background-color: rgb(255, 255, 255);
    border-top: 10px solid rgb(60, 92, 153);
    border-bottom: 5px solid rgb(176, 176, 176);
    border-left: 5px solid rgb(176, 176, 176);
    border-right: 5px solid rgb(176, 176, 176);
  }
</style>