<div id="deed-body" class="margin-vertical-bigger padding-xxl">
  {% include 'includes/snippet/icon_header_snippet.html' %}
  {# Deed Main Content (below) seems to be coming straight from database based on the example provided from cc5 #}
  {# Adding an example of what the deed should look like here #}
  <h3 class="b-header has-text-black padding-bottom-big padding-top-normal" style="font-weight: bold;">You are Free too:</h3>
  <p class="has-text-black body-big padding-bottom-normal"><span style="font-weight: bold;">Share</span>- 
    copy and redistribute the material in any medium or format
  </p>
  <p class="has-text-black body-big padding-bottom-small"><span style="font-weight: bold;">Adapt</span>- 
    remix, transform, and build upon the material
  </p>
  <p class="has-text-black body-big padding-bottom-small">
    The licensor cannot revoke these freedoms as long as you follow the license terms.
  </p>
  <h3 class="b-header has-text-black padding-bottom-big padding-top-normal" style="font-weight: bold;">Under the following terms:</h3>
  <div class="columns is-multiline">
    {# Forloop  - populate content from deed model#}
    <div class="column">
      <i class="cc-by icon has-text-black has-background-white is-size-1 padding-left-big"></i>
    </div>
    <div class="column is-11">
      <p class="has-text-black body-big padding-bottom-normal">You must attribute the work in the manner specified by the author
        or licensor (but not in any way that suggests that they endorse you or your use of the work).
      </p>
    </div>
    {# endfor #}
    <div class="column">
      <i class="cc-by icon has-text-black has-background-white is-size-1 padding-left-big"></i>
    </div>
    <div class="column is-11">
      <p class="has-text-black body-big padding-bottom-normal">You must attribute the work in the manner specified by the author
        or licensor (but not in any way that suggests that they endorse you or your use of the work).
      </p>
    </div>
    <div class="column">
      <i class="cc-by icon has-text-black has-background-white is-size-1 padding-left-big"></i>
    </div>
    <div class="column is-11">
      <p class="has-text-black body-big padding-bottom-normal">You must attribute the work in the manner specified by the author
        or licensor (but not in any way that suggests that they endorse you or your use of the work).
      </p>
    </div>
    <div class="column">
      <i class="cc-by icon has-text-black has-background-white is-size-1 padding-left-big"></i>
    </div>
    <div class="column is-11">
      <p class="has-text-black body-big padding-bottom-normal">You must attribute the work in the manner specified by the author
        or licensor (but not in any way that suggests that they endorse you or your use of the work).
      </p>
    </div>
  </div>
</div>

<style>
  #deed-body {
    background-color: rgb(255, 255, 255);
    border: 5px solid  rgb(176, 176, 176);
  }
</style>