{% load i18n license_tags %}
{# For the PORTED 3.0 licenses, we've just stored their HTML in the database for now. #}
<div id="legal-code-body" class="padding-larger margin-top-bigger has-text-black">
  {% include 'includes/snippet/icon_header_snippet.html' %}
  <div id="plain-text-marker">
    <h3 class="padding-bottom-normal b-header">{% trans "Creative Commons" %} {{ legalcode.title }}</h3>

    {# ################ #}
    {# "License"        #}
    {# ################ #}
    {{ legalcode.html|safe }}

  </div>{# end plain-text-marker #}
</div> {#  end legal-code-body #}
