<div id="legal-code-body" class="padding-larger margin-top-bigger">
  <h3 class="is-vcentered">
    {# Icon Sections #}
      <span class="padding-right-bigger">
      {# replace with list of icon classes that should be on this license #}
      {% for i in "x"|ljust:"4" %}
        <i class="cc-by icon has-background-white has-text-black is-size-2 padding-bottom-small margin-normal"></i>
      {% endfor %}
      </span>
    CC BY-NC-SA 4.0
  </h3>
  <h2>Attribution-NonCommercial-ShareAlike 4.0 International</h2>
  <div>

  </div>
</div>

<style>
  #legal-code-body {
    background-color: rgb(255, 255, 255);
    border: 5px solid  rgb(176, 176, 176);
  }
</style>