{# cc_licenses icons - https://cc-vocabulary.netlify.app/?path=/docs/tokens-icons--figma #}

<div id="licenses-header" class="padding-larger margin-bottom-bigger has-text-black">
  <h2 class="is-vcentered">
    {# Icon Sections #}
      <span class="padding-right-bigger">
      {# Forloop through icons classes that are being sent from model #}
        <i class="cc-logo icon has-background-white has-text-black value padding-bottom-small margin-big"></i>
        <i class="cc-by icon has-background-white has-text-black value padding-bottom-small margin-big"></i>
        <i class="cc-nc icon has-background-white has-text-black value padding-bottom-small margin-big"></i>
        <i class="cc-sa icon has-background-white has-text-black value padding-bottom-small margin-big"></i>
      {# endfor #}
      </span>

    CC BY-NC-SA 4.0
  </h2>
  <h1 class="b-header">Attribution-NonCommercial-ShareAlike 4.0 International</h1>
</div>

<style>
  #licenses-header {
    background-color: rgb(255, 255, 255);
    border-top: 10px solid rgb(60, 92, 153);
    border-bottom: 5px solid rgb(176, 176, 176);
    border-left: 5px solid rgb(176, 176, 176);
    border-right: 5px solid rgb(176, 176, 176);
  }
</style>
