<div class="locale level-right has-text-black">
  Languages available
  <div class="control has-icons-left">
    <div class="select">
      <select>
        {% block lang-options %}
        <option disabled>Select</option>
        <option selected>English - English</option>
        <option>le Français - French</option>
        <option>Japanese - 日本語</option>
        <option>Russian - Русский</option>
        <option>Spanish - Español</option>
        {% endblock lang-options %}
      </select>
    </div>
    <div class="icon is-small is-left">
      <!-- TODO Add icons here -->
    </div>
  </div>
</div>
