{% load lang_pad_horizontal %}
{% load lang_pad_horizontal_reverse %}
{% load lang_dir %}

<div class="locale level-{% lang_pad_horizontal_reverse is_rtl %} level-item has-text-black" dir={% lang_dir is_rtl %}>
  Languages available
  <div class="control has-icons-{% lang_pad_horizontal is_rtl %} {% if is_rtl == 'rtl' %}margin-right-small{% endif %}">
    <div class="select">
      <select>
        {% block lang-options %}
        <option disabled>Select</option>
        <option selected>English - English</option>
        <option>le Français - French</option>
        <option>Japanese - 日本語</option>
        <option>Russian - Русский</option>
        <option>Spanish - Español</option>
        {% endblock lang-options %}
      </select>
    </div>
    <div class="icon is-small is-{% lang_pad_horizontal is_rtl %}">
      <!-- TODO Add icons here -->
    </div>
  </div>
</div>
