{% load lang_pad_horizontal_reverse %}
{% load lang_dir %}

<div class="column is-one-quarter sidebar-container">
  <aside class="menu sidebar-menu">
    {# replace with license long title #}
    <p dir={% lang_dir is_rtl %}><a class="link has-text-black">Attribution-NonCommercial-ShareAlike 4.0 International</a></p>
    <ul class="menu-list" dir={% lang_dir is_rtl %}>
      <li>
        <ul>
          {# replace with list of section links for the license legal code #}
          {% for i in "x"|ljust:"4" %}
          <li><span class="body-bigger padding-{% lang_pad_horizontal_reverse is_rtl %}-normal padding-top-small">&#8226;</span><a href="#" class="is-inline">Section 1 - Definitions</a></li>
          <li><span class="body-bigger padding-{% lang_pad_horizontal_reverse is_rtl %}-normal padding-top-small">&#8226;</span><a href="#" class="is-inline">Section 2 - Scope</a></li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </aside>
</div>
