{% load bidi i18n %}

<div class="column is-one-quarter sidebar-container">
  <aside class="menu sidebar-menu">
    {# replace with license long title #}
    <p ><a class="link has-text-black">{{ title }}</a></p>
    <ul class="menu-list" >
      <li>
        <ul>
          {# replace with list of section links for the license legal code #}
          {% for i in "x"|ljust:"4" %}
          <li><span class="body-bigger padding-{% end %}-normal padding-top-small">&#8226;</span><a href="#" class="is-inline">Section 1 - Definitions</a></li>
          <li><span class="body-bigger padding-{% end %}-normal padding-top-small">&#8226;</span><a href="#" class="is-inline">Section 2 - Scope</a></li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </aside>
</div>
