{% load bidi i18n %}

<div
  class="menu padding-vertical-normal column is-half padding-{% end %}-large"
>
  <ul class="menu-list" >
    <li>
      {# replace with license long title #}
      {% if show_sampling_deed %}
        <h4 class="has-text-black">{% trans "Related Links" %}</h4>
      {% endif %}
      {% if show_standard_deed %}
        <p class="body-big has-text-black">
          {% blocktrans trimmed %}
            Creative Commons is the nonprofit behind the
            open licenses that allow creators to share their
            work. Our licenses and legal tools are free to use.
          {% endblocktrans %}
        </p>
      {% endif %}
      {% if show_legal_code %}
        <p class="body-big has-text-black">
          {% blocktrans trimmed %}
            We're glad you're here! Creative Commons is the nonprofit
            behind the open licenses that allow creators to share their
            work. Our licenses are free to use.
          {% endblocktrans %}
        </p>
      {% endif %}
      <ul>
        {% if not show_sampling_deed %}
          <li><span class="body-bigger padding-{% end %}-normal padding-top-small">&#8226;</span><a href="https://creativecommons.org/about/" class="is-inline body-big" style="font-weight: bold;">{% trans "Learn more about our work" %}</a></li>
        {% endif %}
        <li><span class="body-bigger padding-{% end %}-normal padding-top-small">&#8226;</span><a href="https://creativecommons.org/about/cclicenses/" class="is-inline body-big" style="font-weight: bold;">{% trans "Learn more about CC Licensing" %}</a></li>
        <li><span class="body-bigger padding-{% end %}-normal padding-top-small">&#8226;</span><a href="https://creativecommons.org/donate/" class="is-inline body-big" style="font-weight: bold;">{% trans "Support our work" %}</a></li>
        {% if not show_sampling_deed %}
          <li><span class="body-bigger padding-{% end %}-normal padding-top-small">&#8226;</span><a href="https://chooser-beta.creativecommons.org/" class="is-inline body-big" style="font-weight: bold;">{% trans "Use the license for your own material." %}<i class="icon external-link padding-bottom-small caption"></i></a></li>
        {% endif %}
      </ul>
    </li>
  </ul>
</div>
