<div id="sampling-deed-body" class="margin-vertical-bigger padding-xxl" >
  <div>
    {% include 'includes/snippet/icon.html' with icon_type='cc-logo' additional_classes='padding-vertical-bigger' %}
  </div>
  <h2 class="margin-bottom-larger b-header">Sampling Plus 1.0</h2>
  <h3 class="b-header has-text-black padding-bottom-big padding-top-normal" style="font-weight: bold;">You are free to:</h3>
  {# See 1  - You are free to... add django template if/else logic and translation tags #}
  <p class="has-text-black body-big padding-bottom-normal">To sample, mash-up, or otherwise creatively transform this work for commercial or noncommercial purposes.</p>
  <p class="has-text-black body-big padding-bottom-small">To perform, display, and distribute copies of this whole work for noncommercial purposes (e.g., file-sharing or noncommercial webcasting).</p>
  <h3 class="b-header has-text-black padding-bottom-big padding-top-normal" style="font-weight: bold;">Under the following terms:</h3>
  <div class="columns">
    <div class="column">
      {% include 'includes/snippet/icon.html' with icon_type='cc-by' %}
    </div>
    <div class="column is-11">
      {# See 2 - Under the following terms... add django template if/else logic and translation tags#}
      <p class="has-text-black body-big padding-bottom-normal">You must attribute the work in the manner specified by the author
        or licensor (but not in any way that suggests that they endorse you or your use of the work).
      </p>
      <p class="has-text-black body-big padding-bottom-normal">
        You may not use this work to advertise for or promote anything but the work you create from it.
      </p>
      <p class="has-text-black body-big padding-bottom-normal">
        For any reuse or distribution, you must make clear to others the license terms of this work. The best way to do this is with a link to this web page.
      </p>
      <p class="has-text-black body-big padding-bottom-normal">
        In no way are any of the following rights affected by the above:
      </p>
      <p class="has-text-black body-big padding-bottom-normal">
        Your fair dealing or <a href="http://wiki.creativecommons.org/Frequently_Asked_Questions#Do_Creative_Commons_licenses_affect_fair_use.2C_fair_dealing_or_other_exceptions_to_copyright.3F" id="fair_use" class="helpLink">fair use</a>
        rights, or other applicable copyright exceptions and limitations;
      </p>
      <p class="has-text-black body-big padding-bottom-normal">
        Rights other persons may have either in the work itself or in how the work is used, such as <a href="http://wiki.creativecommons.org/Frequently_Asked_Questions#When_are_publicity_rights_relevant.3F" class="helpLink" id="publicity_rights">
        publicity</a> or privacy rights.
      </p>
    </div>
  </div>
</div>

<style>
  #sampling-deed-body {
    background-color: rgb(255, 255, 255);
    border-top: 10px solid rgb(60, 92, 153);
    border-bottom: 5px solid rgb(176, 176, 176);
    border-left: 5px solid rgb(176, 176, 176);
    border-right: 5px solid rgb(176, 176, 176);
  }
</style>


{# 1 #}
<!-- <ul class="license-properties">
  {# {% if license.license_code == 'nc-sampling+' %} #}
    <li class="license samplingplus">
      {# {% blocktrans %}To sample, mash-up, or otherwise creatively transform this work for noncommercial purposes.{% endblocktrans %} #}
    </li>
  {# {% else %} #}
    <li class="license sampling">
      {# {% blocktrans %}To sample, mash-up, or otherwise creatively transform this work for commercial or noncommercial purposes.{% endblocktrans %} #}
    </li>
  {# {% endif %} #}

  {# {% if license.license_code in ('nc-sampling+', 'sampling+') %} #}
    <li class="license samplingplus">
      {# {% blocktrans %}To perform, display, and distribute copies of this whole work for noncommercial purposes (e.g., file-sharing or noncommercial webcasting).{% endblocktrans %} #}
    </li>
  {# {% endif %} #}
</ul> -->

{# 2 #}
<!-- <div id="deed-conditions">
  {# <h3>{% blocktrans %}Under the following conditions:{% endblocktrans %}</h3> #}
  <ul class="license-properties"
      dir="{{ get_ltr_rtl }}" style="{{ is_rtl_align }}">
    <li class="license by">
      {# {% blocktrans %}You must attribute the work in the manner specified by the author or licensor (but not in any way that suggests that they endorse you or your use of the work).{% endblocktrans %} #}
    </li>
    {# {% if license.license_code == 'nc-sampling+' %} #}
      <li class="license nc">
        {# {% blocktrans %}You may not use this work for commercial purposes.{% endblocktrans %} #}
      </li>
    {# {% else %} #}
      <li>
        {# {% blocktrans %}You may not use this work to advertise for or promote anything but the work you create from it.{% endblocktrans %} #}
      </li>
    {# {% endif %} #}

    {# {% if license.license_code in ['nc-sampling+', 'sampling+'] %} #}
      <li>
        {# {% blocktrans %}For any reuse or distribution, you must make clear to others the license terms of this work. The best way to do this is with a link to this web page.{% endblocktrans %} #}
      </li>
   {# {% else %} #}
      <li>
        {# {% blocktrans %}For any reuse, you must make clear to others the license terms of this work.{% endblocktrans %} #}
      </li>
      <li>
        {# {% blocktrans %}You may not perform, display, or distribute copies of this whole work for any purpose.{% endblocktrans %} #}
      </li>
    {# {% endif %} #}

    <li>
      In no way are any of the following rights affected by
      the above:

      <ul>
        <li>
          {# {% blocktrans %}Your fair dealing or <a href="http://wiki.creativecommons.org/Frequently_Asked_Questions#Do_Creative_Commons_licenses_affect_fair_use.2C_fair_dealing_or_other_exceptions_to_copyright.3F" id="fair_use" class="helpLink">fair use</a> rights, or other applicable copyright exceptions and limitations;{% endblocktrans %} #}
        </li>
        <li>
          {# {% blocktrans %}Rights other persons may have either in the work itself or in how the work is used, such as <a href="http://wiki.creativecommons.org/Frequently_Asked_Questions#When_are_publicity_rights_relevant.3F" class="helpLink" id="publicity_rights">publicity</a> or privacy rights.{% endblocktrans %} #}
        </li>
      </ul>
    </li>
  </ul>
</div> -->
