<div id="about-cc-and-license" class="padding-bigger margin-vertical-bigger has-background-Info">
  <h3>Using Creative Commons Public Licenses</h3>
  <p class="has-text-black">
    Creative Commons public licenses provide a standard set of terms and conditions that creators
    and other rights holders may use to share original works of authorship and other material subject 
    to copyright and certain other rights specified in the public license below. The following considerations 
    are for informational purposes only, are not exhaustive, and do not form part of our licenses.
  </p>
  <hr class="divider">
  <div>
    <h3>Using Creative Commons Public Licenses</h3>
    <p class="has-text-black">
      Creative Commons public licenses provide a standard set of terms and conditions that creators
      and other rights holders may use to share original works of authorship and other material subject 
      to copyright and certain other rights specified in the public license below. The following considerations 
      are for informational purposes only, are not exhaustive, and do not form part of our licenses.
    </p>
  </div>
  <hr class="divider">
  <div>
    <h3>Using Creative Commons Public Licenses</h3>
    <p class="has-text-black">
      Creative Commons public licenses provide a standard set of terms and conditions that creators
      and other rights holders may use to share original works of authorship and other material subject 
      to copyright and certain other rights specified in the public license below. The following considerations 
      are for informational purposes only, are not exhaustive, and do not form part of our licenses.
    </p>
  </div>
</div>

<style>
  /* #about-cc-and-license {
    background-color: rgb(5, 181, 218);
  } */
</style>