body {
  background-color: rgb(245, 245, 245);
}
html[dir="rtl"] nav.breadcrumb>ul li+li:before {
  transform: scaleX(-1);
}
html[dir="rtl"] .breadcrumb li:first-child a {
  padding-right: 0;
  padding-left: .5rem;
}
a.skip-link {
  left:-999px;
  position:absolute;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  z-index:-999;
}
a.skip-link:focus, a.skip-link:active {
  color: black;
  font-weight: bolder;
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow:auto;
  margin: 10px 35%;
  padding:5px;
  background-color: rgb(255, 255, 255);
  border-top: 10px solid rgb(60, 92, 153);
  border-bottom: 5px solid rgb(176, 176, 176);
  border-left: 5px solid rgb(176, 176, 176);
  border-right: 5px solid rgb(176, 176, 176);
  text-align:center;
  font-size:1.2em;
  z-index:999;
}


/* begin donate button for templates/includes/header.html */

.button.donate.is-header {
 --icon-size: 10px;
 background-color: #feede9;
 color: #c74200;
 font-family: "Source Sans Pro", sans-serif;
 font-size: 0.75rem;
 font-weight: bold;
 max-height: 1.6875rem;
 padding: calc(0.25rem - 0.7px) 0.5rem calc(0.25rem - 0.7px) 0.5rem;
 text-transform: none;
}

[dir="ltr"] .button.donate.is-header {
 margin-right: 6rem;
}

[dir="rtl"] .button.donate.is-header {
 margin-left: 6rem;
}

[dir="ltr"] .button.donate.is-header > i {
  margin-right: 0.25rem;
}

[dir="rtl"] .button.donate.is-header > i {
  margin-left: 0.25rem;
}
/* end donate button for templates/includes/header.html */



/* begin Explore CC for templates/includes/header.html */

[dir="rtl"] .cc-global-header .open-tab {
  right: auto;
  left: 0;
}

/* end Explore CC for templates/includes/header.html */
