.cc-legal-tools div.content div#deed-body {
  border-top: 10px solid var(--vocabulary-brand-color-turquoise);
  border-bottom: 5px solid var(--vocabulary-neutral-color-dark-gray);
  border-left: 5px solid var(--vocabulary-neutral-color-dark-gray);
  border-right: 5px solid var(--vocabulary-neutral-color-dark-gray);
  margin-left: -3em;
  margin-right: -3em;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 3em;
  padding-bottom: 3em;
}

.cc-legal-tools div#deed-body ol > li {
  clear: both;
  list-style: none;
  margin-bottom: 2em;
  min-height: 2em;
}
.cc-legal-tools.bidi-left div#deed-body ol > li {
  padding-left: 2.5em;
}
.cc-legal-tools.bidi-right div#deed-body ol > li {
  padding-right: 2.5em;
}
.cc-legal-tools div#deed-body ol > li:before {
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  height: 2em;
  width: 2em;
}
.cc-legal-tools.bidi-left div#deed-body ol > li:before {
  float: left;
  margin-left: -2.5em;
}
.cc-legal-tools.bidi-right div#deed-body ol > li:before {
  float: right;
  margin-right: -2.5em;
}
.cc-legal-tools div#deed-body ol > li.cc-by:before {
  background-image: url('/wp-content/themes/vocabulary-theme/vocabulary/svg/cc/icons/cc-icons.svg#cc-by');
}
.cc-legal-tools div#deed-body ol > li.cc-mark:before {
  background-image: url('/wp-content/themes/vocabulary-theme/vocabulary/svg/cc/icons/cc-icons.svg#cc-pdm');
}
.cc-legal-tools div#deed-body ol > li.cc-nc:before {
  background-image: url('/wp-content/themes/vocabulary-theme/vocabulary/svg/cc/icons/cc-icons.svg#cc-nc');
}
.cc-legal-tools div#deed-body ol > li.cc-nd:before {
  background-image: url('/wp-content/themes/vocabulary-theme/vocabulary/svg/cc/icons/cc-icons.svg#cc-nd');
}
.cc-legal-tools div#deed-body ol > li.cc-sa:before {
  background-image: url('/wp-content/themes/vocabulary-theme/vocabulary/svg/cc/icons/cc-icons.svg#cc-sa');
}
.cc-legal-tools div#deed-body ol > li.cc-sampling:before {
  background-image: url('/wp-content/themes/vocabulary-theme/vocabulary/svg/cc/icons/cc-icons.svg#cc-sampling');
}
.cc-legal-tools div#deed-body ol > li.cc-sampling-plus:before {
  background-image: url('/wp-content/themes/vocabulary-theme/vocabulary/svg/cc/icons/cc-icons.svg#cc-sampling-plus');
}
.cc-legal-tools div#deed-body ol > li.cc-zero:before {
  background-image: url('/wp-content/themes/vocabulary-theme/vocabulary/svg/cc/icons/cc-icons.svg#cc-zero');
}

/* FOOTNOTES */
.cc-legal-tools article.footnotes {
  padding-top: 1em;
  border-top: 2px solid black;
}
.cc-legal-tools article.footnotes ul {
  margin: 0 inherit;
  padding: 0;
  list-style: none;
  font-size: 1rem;
}
.cc-legal-tools article.footnotes ul ul {
  list-style: revert;
}
.cc-legal-tools article.footnotes .icon-replace.fa-angle-up {
  --icon-sprite: var(--fa-angle-up);
  --icon-sprite-color: var(--vocabulary-brand-color-dark-tomato);
  position: relative;
}
.cc-legal-tools article.footnotes ul li a span {
  display: inline-block;
  text-indent: -3000px;
}
