.cc-legal-tools div.content div#legal-code-body {
  border-top: 10px solid var(--vocabulary-brand-color-turquoise);
  border-bottom: 5px solid var(--vocabulary-neutral-color-dark-gray);
  border-left: 5px solid var(--vocabulary-neutral-color-dark-gray);
  border-right: 5px solid var(--vocabulary-neutral-color-dark-gray);
  margin-left: -3em;
  margin-right: -3em;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 3em;
  padding-bottom: 3em;
}

div#legal-code-body ol {
  margin-bottom: 1em;
  margin-top: 1em;
}
div#legal-code-body li,
div#legal-code-body p,
div#legal-code-body ol ol,
div#legal-code-body ul ul {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 1em;
  margin-top: 1em;
}
