.cc-legal-tools div.content div#legal-code-body {
  margin-bottom: 2em;
  padding: 4em;

  border: 4px solid #FF9CFF;
  border-radius: 16px;
}

div#legal-code-body ol {
  margin-bottom: 1em;
  margin-top: 1em;
}
div#legal-code-body li,
div#legal-code-body p,
div#legal-code-body ol ol,
div#legal-code-body ul ul {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 1em;
  margin-top: 1em;
}
