{% extends "base.html" %}
{% load i18n static %}

{% block about %}{{ license.about }}{% endblock %}
{% block title %}Creative Commons &mdash; {% include "includes/snippet/license_medium_title.html" %} {% endblock %}

{% block active-breadcrumb-li %}
<li class="is-active"><a href="{{ legalcode.deed_url }}" aria-current="page displayed">{% trans "License Deed for" %} {{ legalcode.fat_code }}</a></li>
{% endblock %}

{% block next_btn_section %}
<div class="level container">
  <div class="level-item level-right">
    <button id="next-btn" class="button tiny is-pulled-right" data-href="{{ legalcode.license_url }}">{% trans "See the legal code" %}</button>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="container">
    {% include 'includes/deed_body.html' %}
    {% include 'includes/disclaimer.html' %}
    <div class="columns margin-top-normal is-vcentered" >
      {% include 'includes/related_links.html' with show_standard_deed=True %}
      {% include 'includes/newsletter.html' %}
    </div>
  </div>
{% endblock %}
