{% extends "base.html" %}
{% load i18n static %}

{% block canonical_url %}{{ license.canonical_url }}{% endblock %}
{% block title %}{{ legal_code.title }} Deed &mdash; Creative Commons{% endblock %}

{% block active-breadcrumb-li %}
<li class="is-active"><a href="{{ legal_code.deed_url }}" aria-current="page displayed">{{ legal_code.fat_code }} {% trans "Deed" %}</a></li>
{% endblock %}

{% block next_btn_section %}
<div class="level container">
  <div class="level-item level-right">
    <button id="next-btn" class="button tiny is-pulled-right" data-href="{{ legal_code_rel_path }}">{% trans "See the legal code" %}</button>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="container">
    {% if license.deprecated_on %}
      {% include 'includes/deprecated.html' %}
    {% endif %}
    {% include body_template %}
    {% if category == "licenses" and license.version == "4.0" %}
      {% include 'includes/disclaimer_40.html' %}
    {% elif license.unit == "CC0" %}
      {% include 'includes/disclaimer_cc0.html' %}
    {% endif %}
    <div class="columns margin-top-normal is-vcentered" >
      {% include 'includes/related_links.html' with show_standard_deed=True %}
      {% include 'includes/newsletter.html' %}
    </div>
  </div>


<style>
  #deed-body {
    background-color: rgb(255, 255, 255);
    border-top: 10px solid rgb(60, 92, 153);
    border-bottom: 5px solid rgb(176, 176, 176);
    border-left: 5px solid rgb(176, 176, 176);
    border-right: 5px solid rgb(176, 176, 176);
  }
</style>

{% endblock %}
{# vim: ft=jinja.html ts=2 sw=2 sts=2 sr et #}
