{% load bidi i18n %}

{# about_cc.html is an identical component to about__cc_and_license #}
{# refactor this code and use "with" template tag in licenses_detail.html to pass header and text to these templates #}
{# if this content will be modified through the django admin in the future #}

<div id="about-cc-and-license" class="padding-bigger has-background-info-light" >
  <h4 class="padding-bottom-normal is-vcentered b-header"><i class="info icon padding-{% end %}-normal"></i>About Creative Commons</h4>
  <p class="has-text-black padding-{% start %}-big">
    {% blocktrans trimmed %}
      Creative Commons is not a party to its public licenses. Notwithstanding, Creative Commons may elect to apply one of its
      public licenses to material it publishes and in those instances will be considered the "Licensor." The text of the Creative
      Commons public licenses is dedicated to the public domain under the <a href="#">CC0 Public Domain Dedication</a>. Except for the
      limited purpose of indicating that material is shared under a Creative Commons public license or as otherwise permitted by the Creative
      Commons policies published at <a href="creativecommons.org/policies">creativecommons.org/policies</a>, Creative Commons without its prior
      written consent including, without limitation, in connection with any unauthorized modifications to any of its public licenses or any other
      arrangements, understandings, or agreements concerning use of licensed material. For the avoidance of doubt, this paragraph does not form
      part of the public licenses.
    {% endblocktrans %}
  </p>
  <p class="has-text-black padding-{% start %}-big padding-top-normal">
    {% blocktrans trimmed %}
      Creative Commons may be contacted at <a href="creativecommons.org">creativecommons.org</a>.
    {% endblocktrans %}
  </p>
</div>
{# vim: ft=jinja.html ts=2 sw=2 sts=2 sr et #}
