{% load i18n license_tags static %}
<div id="deed-body" class="margin-vertical-bigger padding-xxl" >
  {% include 'includes/snippet/title_with_icons.html' %}

  <h3 class="b-header has-text-black padding-bottom-big padding-top-normal" style="font-weight: bold;">Error</h3>

  <p class="has-text-black body-big padding-bottom-normal"><strong>{% trans "Unimplemented" %}</strong> &mdash; {% blocktrans %}this legal tool does not have a valid template. Please report this issue:{% endblocktrans %} <a href="https://github.com/creativecommons/cc-legal-tools-app/issues">Issues · creativecommons/cc-legal-tools-app</a>.</p>
</div>
{# vim: ft=jinja.html ts=2 sw=2 sts=2 sr et #}
