{% load i18n license_tags static %}
<div id="deed-body">

  {# RIGHTS #}

  <h2 id="rights">{% trans "You are free to:" %}</h2>
  <ol>

  {% if tool.unit == "devnations" %}

    <li>{% blocktrans %}<strong>to Share</strong> &mdash; to copy, distribute and transmit the work{% endblocktrans %}</li>
    <li>{% blocktrans %}<strong>to Remix</strong> &mdash; to adapt the work{% endblocktrans %}</li>

  {% elif "sampling" in tool.unit %}
    {% if tool.prohibits_commercial_use %}
    <li class="cc-sampling{% if "sampling+" in tool.unit %}-plus{% endif %}">
      {% blocktrans trimmed %}
        To sample, mash-up, or otherwise creatively transform this work for
        noncommercial purposes.
      {% endblocktrans %}
    </li>
    {% else %}
    <li class="cc-sampling{% if "sampling+" in tool.unit %}-plus{% endif %}">
    {% blocktrans trimmed %}To sample, mash-up, or otherwise creatively transform this work for commercial or noncommercial purposes.{% endblocktrans %}</li>
    {% endif %}

    {% if "sampling+" in tool.unit %}
    <li class="cc-sampling-plus">{% blocktrans %}To perform, display, and distribute copies of this whole work for noncommercial purposes (e.g., file-sharing or noncommercial webcasting).{% endblocktrans %}</li>
    {% endif %}

  {% else %}

    <li>
      {% blocktrans trimmed %}<strong>Share</strong> &mdash; copy and redistribute the material in any medium or format{% endblocktrans %}{% if not tool.prohibits_commercial_use%}
        {% blocktrans %}for any purpose, even commercially.{% endblocktrans %}
      {% endif %}
    </li>

    {% if tool.permits_derivative_works %}
    <li>
      {% blocktrans trimmed %}<strong>Adapt</strong> &mdash; remix, transform, and build upon the material{% endblocktrans %}{% if not tool.prohibits_commercial_use%}
        {% blocktrans trimmed %}for any purpose, even commercially.{% endblocktrans %}
      {% endif %}
    </li>
    {% endif %}
  {% endif %}

    <li>
      {% blocktrans trimmed %}The licensor cannot revoke these freedoms as long as you follow the license terms.{% endblocktrans %}
    </li>
  </ol>

  {# TERMS #}

  <h2 id="terms">
    {% trans "Under the following terms:" %}
  </h2>
  <ol>

  {% if tool.prohibits_high_income_nation_use %}
    <li>
      <strong>{% trans "Developing Nations" %}</strong> &mdash;
      {% blocktrans %}You may exercise the above freedoms in developing nations only. {% endblocktrans %}
    </li>
  {% endif %}

  {% if tool.requires_attribution %}
    <li class="cc-by">
      <strong>{% trans "Attribution" %}</strong> &mdash;
      {% blocktrans %}You must give <a href="#ref-appropriate-credit" id="src-appropriate-credit">appropriate credit</a>, provide a link to the license, and <span rel="cc:requires" resource="http://creativecommons.org/ns#Notice"><a href="#ref-indicate-changes" id="src-indicate-changes">indicate if changes were made</a></span>. You may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.{% endblocktrans %}
    </li>
  {% endif %}

  {% if tool.prohibits_commercial_use %}
    <li class="cc-nc">
      <strong>{% trans "NonCommercial" %}</strong> &mdash;
      {% blocktrans %}You may not use the material for <a href="#ref-commercial-purposes" id="src-commercial-purposes">commercial purposes</a>.{% endblocktrans %}
    </li>
  {% endif %}

  {% if tool.requires_share_alike %}
    <li class="cc-sa">
      <strong>{% trans "ShareAlike" %}</strong> &mdash; {% blocktrans %}If you remix, transform, or build upon the material, you must distribute your contributions under the <a href="#ref-same-license" id="src-same-license">same license</a> as the original.{% endblocktrans %}
    </li>
  {% endif %}

  {% if not tool.permits_derivative_works %}
    <li class="cc-nd">
      <strong>{% trans "NoDerivatives" %}</strong> &mdash; {% blocktrans %}If you <a href="#ref-some-kinds-of-mods" id="src-some-kinds-of-mods">remix, transform, or build upon</a> the material, you may not distribute the modified material.{% endblocktrans %}
    </li>
  {% endif %}

  {% if tool.unit == "sampling" or tool.unit == "sampling+" %}
    <li>
      {% blocktrans %}You may not use this work to advertise for or promote anything but the work you create from it.{% endblocktrans %}
    </li>
  {% endif %}

  {% if "sampling" in tool.unit %}
    <li>
      {% blocktrans %}For any reuse or distribution, you must make clear to others the license terms of this work. The best way to do this is with a link to this web page.{% endblocktrans %}
    </li>
  {% endif %}

  {% if tool.unit == "sampling" %}
    <li>
      {% blocktrans %}You may not perform, display, or distribute copies of this whole work for any purpose.{% endblocktrans %}
    </li>
  {% endif %}

    <li>
      <strong>{% trans "No additional restrictions" %}</strong> &mdash; {% blocktrans %}You may not apply legal terms or <a href="#ref-technological-measures" id="src-technological-measures">technological measures</a> that legally restrict others from doing anything the license permits.{% endblocktrans %}
    </li>
  </ol>

  {# NOTICES #}

  <h2 class="b-header has-text-black padding-bottom-big padding-top-normal" style="font-weight: bold;">{% trans "Notices:" %}</h2>

  {% if tool.jurisdiction_code == "igo" %}
  <p>
    {% blocktrans %}When the Licensor is an intergovernmental organization, disputes will be resolved by <a href="#ref-mediation-and-arbitration" id="src-mediation-and-arbitration">mediation and arbitration</a> unless otherwise agreed.{% endblocktrans %}
  </p>
  {% endif %}

  <p>
    {% blocktrans %}You do not have to comply with the license for elements of the material in the public domain or where your use is permitted by an applicable <a href="#ref-exception-or-limitation" id="src-exception-or-limitation">exception or limitation</a>.{% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}No warranties are given. The license may not give you all of the permissions necessary for your intended use. For example, other rights such as <a href="#ref-publicity-privacy-or-moral-rights" id="src-publicity-privacy-or-moral-rights">publicity, privacy, or moral rights</a> may limit how you use the material.{% endblocktrans %}
  </p>
</div>
{# vim: ft=jinja.html ts=2 sw=2 sts=2 sr et #}
