{% load bidi i18n %}
<div id="disclaimer-info-section" class="padding-bigger has-background-info-light" >
  <h4 class="padding-bottom-normal is-vcentered b-header"><i class="info icon padding-{% bidi_end %}-normal"></i>{% trans "Disclaimer" %}</h4>
    {% blocktrans trimmed %}
      This tool is based on United States law and may not be applicable outside
      the US. For dedicating new works to the public domain, we recommend <a
      href="/choose/zero/">CC0</a>.
    {% endblocktrans %}
</div>
{# vim: ft=jinja.html ts=2 sw=2 sts=2 sr et #}
