<!-- Div element used to mount the Explore CC component-->
{% if languages_and_links %}
  {% include "includes/languages_dropdown.html" %}
{% endif %}
<header>
  <div class="masthead">
    <h1><a class="identity-logo" href="/">Creative Commons</a></h1>
    <button class="expand-menu">Menu</button>
    <nav class="primary-menu">
      <ul>
          <li>
              <a href="/who-we-are">Who We Are</a>
              <button class="expand icon-replace fa-angle-down">Expand</button>

              <ul>
                  <li><a href="/strategic-plan">Strategic Plan</a></li>
                  <li><a href="/team">Team</a></li>
                  <li><a href="/governance">Governance</a></li>
                  <li><a href="/opportunities">Opportunities</a></li>
                  <li><a href="/annual-reports/">Annual Reports & Financials</a></li>
                  <li><a href="/history/">History</a></li>
                  <li><a href="/press">Press</a></li>
              </ul>
          </li>
          <li>
              <a href="/what-we-do">What We Do</a>
              <button class="expand icon-replace fa-angle-down">Expand</button>

              <ul>
                  <li>
                      <a href="/build/">Build <br> Open Infrastructure</a>
                      <button class="expand icon-replace fa-angle-down">Expand</button>

                        <ul>
                          <li><a href="/cc-licenses">CC Licenses</a></li>
                          <li><a href="/cc-signals">CC Signals</a></li>
                          <li><a href="/public-domain">Public Domain</a></li>
                          <li><a href="/chooser">Chooser</a></li>
                          <li><a href="/faq">FAQs</a></li>
                      </ul>
                  </li>
                  <li>
                      <a href="/implement/">Implement <br> the Commons</a>
                      <button class="expand icon-replace fa-angle-down">Expand</button>

                        <ul>
                          <li><a href="/impact">Where CC Makes An Impact</a></li>
                          <li><a href="/resources">Resources</a></li>
                          <li><a href="https://search.creativecommons.org">Search the Commons</a></li>
                      </ul>
                  </li>
                  <li>
                      <a href="/engage/">Engage <br> the People</a>
                      <button class="expand icon-replace fa-angle-down">Expand</button>

                        <ul>
                          <li><a href="/training-and-webinars">Training + Webinars</a></li>
                          <li><a href="/advocacy">Advocacy</a></li>
                          <li><a href="/community">Community</a></li>
                          <!-- <li><a href="/partnerships">Partnerships</a></li> -->
                          <li><a href="/events">Events</a></li>
                      </ul>
                  </li>
              </ul>
          </li>
          <li><a href="/blog">Blog</a></li>
          <li>
              <a href="/support">Support Us</a>
              <button class="expand icon-replace fa-angle-down">Expand</button>

              <ul>
                  <li><a href="https://giving.gofundme.com/campaign/778218/donate">Make a Gift</a></li>
                  <!-- <li><a href="/support/#ways-to-give">Ways to Give</a></li> -->
                  <li><a href="/support/oic">Open Infrastructure Circle</a></li>
                  <li><a href="/support/donor-faq">Donor FAQ</a></li>
              </ul>
          </li>
          <li><a class="donate" href="https://giving.gofundme.com/campaign/778218/donate">Donate</a></li>
          <!-- <li><a class="donate" href="#">Support Us</a></li> -->
      </ul>
    </nav>

  </div>
</header>
{# vim: ft=jinja.html ts=2 sw=2 sts=2 sr et #}
