{% load i18n %}
<li>
  <span class="locale icon-attach fa-globe">
  <label for="languages-dropdown" class="sr-only">{% trans "Select language" %}</label>
  <select id="languages-dropdown" {% if languages_and_links|length <= 1 %}disabled{% endif %}>
    {% block lang-options %}
    <option disabled {% if languages_and_links|length > 1 %}selected hidden{% endif %}>{% trans "Languages available" %}</option>
    {% for option in languages_and_links %}
      <option
        id="option-{{ option.cc_language_code }}"
        {% if option.selected %}selected{% endif %}
        value="{{ option.cc_language_code }}"
        data-link="{{ option.link }}"
      >
        {{ option.name_local }}
      </option>
    {% endfor %}
    {% endblock lang-options %}
  </select>
  </span>
</li>
<script src="/cc-legal-tools/language-dropdown.js"></script>
{# vim: ft=jinja.html ts=2 sw=2 sts=2 sr et #}
