{% load bidi i18n %}
{# cc_legal_tools icons - https://cc-vocabulary.netlify.app/?path=/docs/tokens-icons--figma #}

<div id="licenses-header" class="padding-larger margin-bottom-bigger has-text-black is-hidden-touch is-hidden-desktop-only" >
  <h2 class="is-vcentered">
    {# Icon Sections #}
    <span class="padding-{% end %}-bigger">
{% for code in tool.logos %}{% include 'includes/snippet/icon.html' with icon_type=code additional_classes='padding-bottom-small' is_license_header=True %}{% endfor %}
    </span>

    {{ legal_code.identifier }} {#  e.g. CC BY-NC 4.0 #}
  </h2>
  {# e.g. Attribution-NonCommercial-ShareAlike 4.0 International #}
  <h1 class="b-header">{{ legal_code.title }}</h1>
</div>

<div id="licenses-header" class="padding-larger margin-bottom-bigger has-text-black is-hidden-widescreen" >
  <h2 class="has-text-centered">
    {# Icon Sections #}
    <span>
{% for code in tool.logos %}{% include 'includes/snippet/icon.html' with icon_type=code additional_classes='padding-bottom-small margin-horizontal-smaller margin-vertical-small' is_license_header=True %}{% endfor %}
      </span>
  </h2>
  <h2 class="has-text-centered is-hidden-touch is-hidden-desktop-only padding-{% start %}-normal">{{ legal_code.identifier }}</h2>
  <h3 class="has-text-centered is-hidden-touch">{{ legal_code.identifier }}</h3>
  <h4 class="has-text-centered is-hidden-desktop-only is-hidden-widescreen">{{ legal_code.identifier }}</h4>
  <h2 class="b-header has-text-centered">{{ legal_code.title }}</h2>
</div>

<style>
  #licenses-header {
    background-color: rgb(255, 255, 255);
    border-top: 10px solid rgb(60, 92, 153);
    border-bottom: 5px solid rgb(176, 176, 176);
    border-left: 5px solid rgb(176, 176, 176);
    border-right: 5px solid rgb(176, 176, 176);
  }
</style>
{# vim: ft=jinja.html ts=2 sw=2 sts=2 sr et #}
