<div
  id="column is-full margin-top-bigger"
  style="width: 100%;"
>
  <div class="card entry-post">
    <div class="card-content">
      <h4>Get The Latest Updates</h4>
      <p class="body-big">Subscribe to our monthly newsletter.</p>
      <form class="margin-top-normal">
        <div class="field has-addons">
          <label for="email" class="is-sr-only">Email address</label>
          <input type="email" id="email" class="input is-medium" placeholder="Email Address">
          <button type="submit" class="button is-primary has-text-centered">Join</button>
        </div>
      </form>
    </div>
  </div>
</div>
{# vim: ft=jinja.html ts=2 sw=2 sts=2 sr et #}
