{% load bidi i18n %}

<p>
  {% blocktrans trimmed %}
    Creative Commons is the nonprofit behind the open licenses and
    other legal tools that allow creators to share their work. Our
    legal tools are free to use.
  {% endblocktrans %}
  <ul>
    {% if not show_sampling_deed %}
    <li><a href="/about/">{% trans "Learn more about our work" %}</a></li>
    {% endif %}
    <li><a href="/about/cclicenses/">{% trans "Learn more about CC Licensing" %}</a></li>
    <li><a href="/donate/">{% trans "Support our work" %}</a></li>
    {% if not show_sampling_deed %}
    <li><a href="/choose/">{% trans "Use the license for your own material." %}</a></li>
    <li><a href="/licenses/list">{% trans "Licenses List" %}</a></li>
    <li><a href="/licenses/list">{% trans "Public Domain List" %}</a></li>
    {% endif %}
  </ul>
</p>
{# vim: ft=jinja.html ts=2 sw=2 sts=2 sr et #}
