{% load bidi i18n %}

<p>
  {% blocktrans trimmed %}
    Creative Commons is the nonprofit behind the open licenses and
    other legal tools that allow creators to share their work. Our
    legal tools are free to use.
  {% endblocktrans %}
</p>
  <ul>
    <li><a href="/about/">{% trans "Learn more about our work" %}</a></li>
    <li><strong><a href="/share-your-work/cclicenses/">{% trans "Learn more about CC Licensing" %}</a></strong></li>
    <li><a href="/donate/">{% trans "Support our work" %}</a></li>
    <li><a href="/choose/">{% trans "Use the license for your own material." %}</a></li>
    {% if list_licenses %}
      <li><a href="{{ list_licenses }}">{% trans "Licenses List" %}</a></li>
    {% endif %}
    {% if list_publicdomain %}
      <li><a href="{{ list_publicdomain }}">{% trans "Public Domain List" %}</a></li>
    {% endif %}
  </ul>
{# vim: ft=jinja.html ts=2 sw=2 sts=2 sr et #}
