{% load i18n static %}
<div id="language-selector-block" class="container">
  <div class="language-selector-inner">
    <span dir="{{ get_ltr_rtl }}" style="{{ is_rtl_align }}">
      {% blocktrans %}This page is available in the following languages:{% endblocktrans %}
    </span>

    <img class="language-icon" src="{% static '/images/language_icon_x2.png' %}" alt="Languages" />

    <select>
      {% for lang in active_languages %}
      <option value="{{ lang.code}}"{% if target_lang == lang.code %} selected="selected"{% endif %}>
        {{ lang.name }}
      </option>
      {% endfor %}
    </select>

  </div>
</div>
{# vim: ft=jinja.html ts=2 sw=2 sts=2 sr et #}
