{% load i18n %}
<div id="languages">
  <span dir="{{ get_ltr_rtl }}" style="{{ is_rtl_align }}">
    {% blocktrans %}This page is available in the following languages:{% endblocktrans %}
  </span>
  <br/>

  {% for lang in active_languages %}
    <a title="{{ lang.name }}"
       rel="alternate nofollow frbr:translation"
       rev="frbr:translationOf"
       href="./deed.{{ lang.code}}"
       hreflang="{{ lang.code }}"
       xml:lang="{{ lang.code }}">{{ lang.name }}</a>
  {% endfor %}
</div>
{# vim: ft=jinja.html ts=2 sw=2 sts=2 sr et #}
