{% extends "base.html" %}
{% load i18n license_tags static %}

{% block head_about %}{{ tool.canonical_url }}{% endblock %}
{% block title %}{{ legal_code.title }} Deed &mdash; Creative Commons{% endblock %}
{% block tool_canonical_url %}{{ tool.canonical_url }}{% endblock %}
{% block head_meta %}
  <link rel="canonical" href="{{ tool.canonical_url }}"/>
{% endblock %}
{% block head_extra %}
<style>
  #deed-body {
    background-color: rgb(255, 255, 255);
    border-top: 10px solid rgb(60, 92, 153);
    border-bottom: 5px solid rgb(176, 176, 176);
    border-left: 5px solid rgb(176, 176, 176);
    border-right: 5px solid rgb(176, 176, 176);
  }
  /* Used by multiple includes */
  #disclaimer-info-section {
    color: #000 !important;
  }
  #disclaimer-info-section p:nth-child(n+1) {
    /* padding for all but first paragraph */
    padding-top: 1rem !important;
  }
</style>
{% endblock %}

{% block body_about %}{{ tool.canonical_url }}{% endblock %}
{% block body_typeof %}cc:License{% endblock %}

{% block active-breadcrumb-li %}
<li class="is-active"><a href="{{ legal_code.deed_url }}" aria-current="page displayed">{{ legal_code.identifier }} {% trans "Deed" %}</a></li>
{% endblock %}

{% block next_btn_section %}
{% if not tool.deed_only %}
<div class="level container">
  <div class="level-item level-right">
    <a id="next-btn" class="button tiny is-pulled-right" href="{{ legal_code_rel_path }}">{% trans "See the legal code" %}</a>
  </div>
</div>
{% endif %}
{% endblock %}

{% block content %}
  <div class="container">
    {% if tool.deprecated_on %}
      {% include 'includes/deprecated.html' %}
    {% endif %}

    {% include body_template %}

    {% if category == "licenses" and tool.version == "4.0" %}
      {% include 'includes/disclaimer_40.html' %}
    {% elif tool.unit == "zero" %}
      {% include 'includes/disclaimer_zero.html' %}
    {% elif tool.unit == "certification" %}
      {% include 'includes/disclaimer_certification.html' %}
    {% endif %}
    <div class="columns margin-top-normal is-vcentered" >
      {% if legal_code|is_one_of:"nc-sampling+,sampling,sampling+" %}
        {% include 'includes/related_links.html' with show_sampling_deed=True %}
      {% else %}
        {% include 'includes/related_links.html' %}
      {% endif %}
      {% include 'includes/newsletter.html' %}
    </div>
  </div>
{% endblock %}
{# vim: ft=jinja.html ts=2 sw=2 sts=2 sr et #}
