{% extends "base.html" %}
{% load i18n license_tags static %}

{% block head_about %}{{ tool.base_url }}{% endblock %}

{% block body_class%}walkthrough-page{% endblock %}

{% block title %}
{{ tool.identifier }} {% trans "Deed" %} | {{ tool_title }}
{% endblock %}


{% block head_extra %}
<link href="/cc-legal-tools/deed.css" rel="stylesheet"/>
{% endblock %}


{% block body_about %}{{ tool.base_url }}{% endblock %}


{% block body_typeof %}cc:License{% endblock %}


{% block title_header %}
{% include 'includes/snippet/title_with_icons.html' with document_type="deed" %}
{% endblock %}


{% block content %}
{% if tool.deprecated_on %}
  {# Retired legal tool notice #}
  {% include 'includes/notice_deprecated.html' %}
{% endif %}
{% if replaced_path %}
  {# Newer license notice #}
  {% include 'includes/notice_newer_license.html' %}
{% endif %}

<div class="tool-meta">

<div class="meta-box">
<article class="canonical-url">
<h2>{% trans "Canonical URL" %}</h2>
<a href="{{ canonical_url_cc}}">{{ canonical_url_cc }}</a>
</article>
</div>

{% if not tool.deed_only %}
<div class="alt-view">
<a href="{{ legal_code_rel_path }}">
{% trans "See the legal code" %}
</a>
</div>
{% endif %}

</div>

{% include body_template %}

{% if category == "licenses" and tool.version == "4.0" %}
  {% include 'includes/notice_40.html' %}
{% elif tool.unit == "zero" %}
  {% include 'includes/notice_zero.html' %}
{% elif tool.unit == "certification" %}
  {% include 'includes/notice_certification.html' %}
{% endif %}
<div>
  {% include 'includes/related_links.html' %}
</div>

{# FOOTNOTES ##}

{% if category == "licenses" or tool.unit == "mark" or tool.unit == "zero" %}
<footer>
<article class="footnotes">
<h2 id="footnotes">{% blocktrans %}Footnotes{% endblocktrans %}</h2>
<ul>

{# footnote-mediation-and-arbitration #}
{% if tool.jurisdiction_code == "igo" %}
<li>
<article class="note" id="ref-mediation-and-arbitration">
<a href="#src-mediation-and-arbitration">
<span class="icon-replace fa-angle-up"></span><span>return to reference</span>
</a>
<strong>{% trans "mediation and arbitration" %}</strong> &mdash;
{% blocktrans trimmed %}
The applicable mediation rules will be designated in the copyright notice
published with the work, or if none then in the request for mediation.  Unless
otherwise designated in a copyright notice attached to the work, the UNCITRAL
Arbitration Rules apply to any arbitration.
{% endblocktrans %}
<ul>
<li>
<a href="https://wiki.creativecommons.org/Intergovernmental_Organizations#What_should_I_know_before_I_use_a_work_licensed_under_the_IGO_3.0_ported_licenses.3F">{% blocktrans %}More info{% endblocktrans %}</a>
</li>
</ul>
</article>
</li>
{% endif %}

{# footnote-appropriate-credit #}
{% if tool.requires_attribution %}
<li>
<article class="note" id="ref-appropriate-credit">
<a href="#src-appropriate-credit">
<span class="icon-replace fa-angle-up"></span><span>return to reference</span>
</a>
<strong>{% trans "appropriate credit" %}</strong> &mdash;
{% blocktrans trimmed %}
If supplied, you must provide the name of the creator and attribution parties,
a copyright notice, a license notice, a disclaimer notice, and a link to the
material. CC licenses prior to Version 4.0 also require you to provide the
title of the material if supplied, and may have other slight differences.
{% endblocktrans %}
<ul>
<li>
<a href="https://wiki.creativecommons.org/License_Versions#Detailed_attribution_comparison_chart">{% blocktrans %}More info{% endblocktrans %}</a>
</li>
</ul>
</article>
</li>
{% endif %}

{# footnote-indicate-changes #}
{% if tool.requires_attribution %}
<li>
<article class="note" id="ref-indicate-changes">
<a href="#src-indicate-changes">
<span class="icon-replace fa-angle-up"></span><span>return to reference</span>
</a>
<strong>{% trans "indicate if changes were made" %}</strong> &mdash;
{% blocktrans trimmed %}
In 4.0, you must indicate if you modified the material and retain an indication
of previous modifications. In 3.0 and earlier license versions, the indication
of changes is only required if you create a derivative.
{% endblocktrans %}
<ul>
<li>
<a href="https://wiki.creativecommons.org/Best_practices_for_attribution#This_is_a_good_attribution_for_material_you_modified_slightly">{% blocktrans %}Marking guide{% endblocktrans %}</a>
</li>
<li>
<a href="https://wiki.creativecommons.org/License_Versions#Modifications_and_adaptations_must_be_marked_as_such ">{% blocktrans %}More info{% endblocktrans %}</a>
</li>
</ul>
</article>
</li>
{% endif %}

{# footnote-commercial-purposes #}
{% if tool.prohibits_commercial_use %}
<li>
<article class="note" id="ref-commercial-purposes">
<a href="#src-commercial-purposes">
<span class="icon-replace fa-angle-up"></span><span>return to reference</span>
</a>
<strong>{% trans "commercial purposes" %}</strong> &mdash;
{% blocktrans trimmed %}
A commercial use is one primarily intended for commercial advantage or monetary
compensation.
{% endblocktrans %}
<ul>
<li>
<a href="/faq/#does-my-use-violate-the-noncommercial-clause-of-the-licenses">{% blocktrans %}More info{% endblocktrans %}</a>
</li>
</ul>
</article>
</li>
{% endif %}

{# footnote-same-license #}
{% if tool.requires_share_alike %}
<li>
<article class="note" id="ref-same-license">
<a href="#src-same-license">
<span class="icon-replace fa-angle-up"></span><span>return to reference</span>
</a>
<strong>{% trans "same license" %}</strong> &mdash;
{% blocktrans trimmed %}
You may also use a license listed as compatible at
<a href="https://creativecommons.org/compatiblelicenses">
https://creativecommons.org/compatiblelicenses</a>
{% endblocktrans %}
<ul>
<li>
<a href="/faq/#if-i-derive-or-adapt-material-offered-under-a-creative-commons-license-which-cc-licenses-can-i-use">{% blocktrans %}More info{% endblocktrans %}</a>
</li>
</ul>
</article>
</li>
{% endif %}

{# footnote-some-kinds-of-mods #}
{% if not tool.permits_derivative_works %}
<li>
<article class="note" id="ref-some-kinds-of-mods">
<a href="#src-some-kinds-of-mods">
<span class="icon-replace fa-angle-up"></span><span>return to reference</span>
</a>
<strong>{% trans "remix, transform, or build upon" %}</strong> &mdash;
{% blocktrans trimmed %}
Merely changing the format never creates a derivative.
{% endblocktrans %}
<ul>
<li>
<a href="/faq/#when-is-my-use-considered-an-adaptation">{% blocktrans %}More info{% endblocktrans %}</a>
</li>
</ul>
</article>
</li>
{% endif %}

{# footnote-technological-measures #}
{% if "sampling" in tool.unit %}
<li>
<article class="note" id="ref-technological-measures">
<a href="#src-technological-measures">
<span class="icon-replace fa-angle-up"></span><span>return to reference</span>
</a>
<strong>{% trans "technological measures" %}</strong> &mdash;
{% blocktrans trimmed %}
The license prohibits application of effective technological measures, defined
with reference to Article 11 of the WIPO Copyright Treaty.
{% endblocktrans %}
<ul>
<li>
<a href="https://wiki.creativecommons.org/License_Versions#Application_of_effective_technological_measures_by_users_of_CC-licensed_works_prohibited">{% blocktrans %}More info{% endblocktrans %}</a>
</li>
</ul>
</article>
</li>
{% endif %}

{# footnote-exception-or-limitation #}
{% if category == "licenses" %}
<li>
<article class="note" id="ref-exception-or-limitation">
<a href="#src-exception-or-limitation">
<span class="icon-replace fa-angle-up"></span><span>return to reference</span>
</a>
<strong>{% trans "exception or limitation" %}</strong> &mdash;
{% blocktrans trimmed %}
The rights of users under exceptions and limitations, such as fair use and fair dealing, are not affected by the CC licenses.
{% endblocktrans %}
<ul>
<li>
<a href="https://wiki.creativecommons.org/Frequently_Asked_Questions#Do_Creative_Commons_licenses_affect_exceptions_and_limitations_to_copyright.2C_such_as_fair_dealing_and_fair_use.3F">{% blocktrans %}More info{% endblocktrans %}</a>
</li>
</ul>
</article>
</li>
{% endif %}

{# footnote-publicity-privacy-or-moral-rights #}
{% if category == "licenses" %}
<li>
<article class="note" id="ref-publicity-privacy-or-moral-rights">
<a href="#src-publicity-privacy-or-moral-rights">
<span class="icon-replace fa-angle-up"></span><span>return to reference</span>
</a>
<strong>{% trans "publicity, privacy, or moral rights" %}</strong> &mdash;
{% blocktrans trimmed %}
You may need to get additional permissions before using the material as you
intend.
{% endblocktrans %}
<ul>
<li>
<a href="https://wiki.creativecommons.org/Considerations_for_licensors_and_licensees">{% blocktrans %}More info{% endblocktrans %}</a>
</li>
</ul>
</article>
</li>
{% endif %}

{# footnote-all-jurisdictions #}
{% if tool.unit == "mark" %}
<li>
<article class="note" id="ref-all-jurisdictions">
<a href="#src-all-jurisdictions">
<span class="icon-replace fa-angle-up"></span><span>return to reference</span>
</a>
<strong>{% trans "jurisdictions " %}</strong> &mdash;
{% blocktrans trimmed %}
Copyright terms vary jurisdiction to jurisdiction. A work free of copyright
restrictions in one jurisdiction may not be similarly free in other
jurisdictions.
{% endblocktrans %}
<ul>
<li>
<a href="https://wiki.creativecommons.org/wiki/PDM_FAQ#If_I_apply_the_PDM_to_a_work.2C_am_I_warranting_or_promising_that_the_work_is_free_of_copyright_around_the_world.3F">{% blocktrans %}More info{% endblocktrans %}</a>
</li>
</ul>
</article>
</li>
{% endif %}

{# footnote-publicity-rights #}
{% if tool.unit == "mark" or tool.unit == "zero" %}
<li>
<article class="note" id="ref-publicity-rights">
<a href="#src-publicity-rights">
<span class="icon-replace fa-angle-up"></span><span>return to reference</span>
</a>
<strong>{% trans "publicity or privacy" %}</strong> &mdash;
{% blocktrans trimmed %}
The use of a work free of known copyright restrictions may be otherwise
regulated or limited. The work or its use may be subject to personal data
protection laws, publicity, image, or privacy rights that allow a person to
control how their voice, image or likeness is used, or other restrictions or
limitations under applicable law.
{% endblocktrans %}
<ul>
<li>
<a href="/faq/#what-are-publicity-personality-and-privacy-rights">{% blocktrans %}More info{% endblocktrans %}</a>
</li>
</ul>
</article>
</li>
{% endif %}

{# footnote-moral-rights #}
{% if tool.unit == "mark" %}
<li>
<article class="note" id="ref-moral-rights">
<a href="#src-moral-rights">
<span class="icon-replace fa-angle-up"></span><span>return to reference</span>
</a>
<strong>{% trans "moral rights" %}</strong> &mdash;
{% blocktrans trimmed %}
Copyright laws in most jurisdictions around the world grant creators "moral
rights" which may provide some redress if use of a work is considered
"derogatory".
{% endblocktrans %}
<ul>
<li>
<a href="/faq/#what-are-moral-rights">{% blocktrans %}More info{% endblocktrans %}</a>
</li>
</ul>
</article>
</li>
{% endif %}

{# footnote-endorsement #}
{% if tool.unit == "mark" or tool.unit == "zero" %}
<li>
<article class="note" id="ref-endorsement">
<a href="#src-endorsement">
<span class="icon-replace fa-angle-up"></span><span>return to reference</span>
</a>
<strong>{% trans "endorsement" %}</strong> &mdash;
{% blocktrans trimmed %}
In some jurisdictions, wrongfully implying that an author, publisher or anyone
else endorses your use of a work may be unlawful.
{% endblocktrans %}
<ul>
<li>
<a href="/faq/#do-i-need-to-be-aware-of-anything-else-when-providing-attribution">{% blocktrans %}More info{% endblocktrans %}</a>
</li>
</ul>
</article>
</li>
{% endif %}

</ul>
</article>
</footer>
{% endif %}

{% endblock %}
{# vim: ft=jinja.html ts=2 sw=2 sts=2 sr et #}
