{% extends "base.html" %}
{% load i18n license_tags static %}

{% block head_about %}{{ tool.base_url }}{% endblock %}

{% block body_class%}walkthrough-page{% endblock %}

{% block title %}
{{ tool.identifier }} {% trans "Deed" %} | {{ tool_title }}
{% endblock %}


{% block head_extra %}
<link href="/cc-legal-tools/deed.css" rel="stylesheet"/>
{% endblock %}


{% block body_about %}{{ tool.base_url }}{% endblock %}


{% block body_typeof %}cc:License{% endblock %}


{% block title_header %}
{% include 'includes/snippet/title_with_icons.html' with document_type="deed" %}
{% endblock %}


{% block content %}
{% if tool.deprecated_on %}
  {# Retired legal tool notice #}
  {% include 'includes/notice_deprecated.html' %}
{% endif %}
{% if replaced_path %}
  {# Newer license notice #}
  {% include 'includes/notice_newer_license.html' %}
{% endif %}

<div class="tool-meta">

<div>
<article class="canonical-url">
<h2>{% trans "Canonical URL" %}</h2>
<a href="{{ canonical_url_cc}}">{{ canonical_url_cc }}</a>
</article>
</div>

{% if not tool.deed_only %}
<a class="alt-view" href="{{ legal_code_rel_path }}">
{% trans "See the legal code" %}
</a>
{% endif %}

</div>

{% include body_template %}

{% if category == "licenses" and tool.version == "4.0" %}
  {% include 'includes/notice_40.html' %}
{% elif tool.unit == "zero" %}
  {% include 'includes/notice_zero.html' %}
{% elif tool.unit == "certification" %}
  {% include 'includes/notice_certification.html' %}
{% endif %}
<div>
  {% include 'includes/related_links.html' %}
</div>
{% endblock %}
{# vim: ft=jinja.html ts=2 sw=2 sts=2 sr et #}
