{% extends 'base.html' %}
{% load i18n license_tags static %}


{% block title %}
{% trans "Legal Code" %} - {{ tool_title }}
{% endblock %}


{% block head_extra %}
<link href="/cc-legal-tools/legalcode.css" rel="stylesheet"/>
{% endblock %}


{% block title_header %}
{% include 'includes/snippet/title_with_icons.html' with document_type="legalcode" %}
{% endblock %}

{% block contextual_menu %}
{% if not legal_code.html %} {# if not raw html #}
{% include 'includes/legalcode_contextual_menu.html' %}
{% endif %}
{% endblock %}


{% block content %}
<div class="tool-meta">

  <div class="meta-box">
    <article class="canonical-url">
      <h2>{% trans "Canonical URL" %}</h2>
      <a {% if lang.bidi %}dir="ltr" {% endif %} href="{{ canonical_url_cc}}">{{ canonical_url_cc }}</a>
    </article>

    <article class="formats">
      <h2>{% trans "Other formats" %}</h2>
      <ul>
        {% if plain_text_url %}
        <li><a href="{{ plain_text_url }}">{% trans "Plain Text" %}</a></li>
        {% endif %}
        <li><a href="rdf">RDF/XML</a></li>
      </ul>
    </article>
  </div>

  <div class="alt-view">
    <a href="{{ deed_rel_path }}">{% trans "See the deed" %}</a>
  </div>

</div>

<p>
  {% trans "Version" %} {{ legal_code.tool.version }} &#8226;
  {% blocktrans trimmed %}
  See the <a href="/legal-code-errata/">errata page</a> for any corrections and
  the date of change
  {% endblocktrans %}
  {% if legal_code.translation_last_update %}
  &#8226; Translation published {{ legal_code.translation_last_update|date:'Y/m/d' }}
  {% endif %}
</p>

{% if tool.deprecated_on %}
{# Retired legal tool notice #}
{% include 'includes/notice_deprecated.html' %}
{% endif %}
{% if replaced_path %}
{# Newer license notice #}
{% include 'includes/notice_newer_license.html' %}
{% endif %}
{% if legal_code.markdown %}
{% include 'includes/notice_about_licenses_and_cc.html' %}
{% include 'includes/use_of_licenses.html' %}
<div id="legal-code-body" class="padding-larger margin-top-bigger has-text-black">
  {{ legal_code.markdown_as_html|safe }}
</div>

{% elif not legal_code.html %}
{% include 'includes/notice_about_licenses_and_cc.html' %}
{% include 'includes/use_of_licenses.html' %}
{% if tool.category == "publicdomain" and tool.unit == "zero" %}
{% include 'includes/legalcode_zero.html' %}
{% elif tool.category == "licenses" and tool.version == "4.0" %}
{% include 'includes/legalcode_licenses_4.0.html' %}
{% elif tool.category == "licenses" and tool.version == "3.0" and not tool.jurisdiction_code %}
{% include 'includes/legalcode_licenses_3.0_unported.html' %}
{% else %}
{# whatever your existing final fallback is #}
{% endif %}
{% else %}
{% include "includes/legalcode_crude_html.html" %}
{% endif %}

{% include 'includes/notice_about_cc_and_trademark.html' %}
{% include 'includes/related_links.html' %}

{# These four strings were removed from UX. Maintaining here to preserve #}
{# translations until new UX is decided. #}
{% trans "Hide Considerations for Licensors" as _ %}
{% trans "Show Considerations for Licensors" as _ %}
{% trans "Hide Considerations for the Public" as _ %}
{% trans "Show Considerations for the Public" as _ %}
{% endblock %}

{# vim: ft=jinja.html ts=2 sw=2 sts=2 sr et #}
