{% extends 'base.html' %}
{% load i18n static %}
{% load bidi %}

{% block active-breadcrumb-li %}
  <li class="is-active"><a href="{{ legal_code.legal_code_url }}" aria-current="page displayed">{{ legal_code.identifier }} {% trans "Legal Code" %}</a></li>
{% endblock %}

{% block next_btn_section %}
<div class="columns">
  <div class="column is-one-quarter"></div>
  <div class="column columns padding-vertical-normal">
    <div class="column is-three-quarters padding-top-normal">
      Version {{ legal_code.license.version }} &#8226;
      See the <a href="https://creativecommons.org/legal-code-errata/">errata page</a> for any corrections and the date of change
      {% if legal_code.translation_last_update %}
        &#8226; Translation published {{ legal_code.translation_last_update|date:'Y/m/d' }}
      {% endif %}
    </div>
    <div class="column">
      <button id="next-btn" class="button tiny is-pulled-{% end %}" data-href="{{ deed_rel_path }}">{% trans "See the deed" %}</button>
    </div>
  </div>
</div>
{% endblock %}

{% block title %}{{ legal_code.title }} Legal Code &mdash; Creative Commons{% endblock %}

{% block content %}
  <div class="columns">
    {% if not legal_code.html %}
      {% include 'includes/menu-sidebar.html' %}
    {% endif %}
    <div class="column">
      {% include 'includes/licenses_header.html' %}  {#  Title and icons #}
      {% if license.deprecated_on %}
        {% include 'includes/deprecated.html' %} {# Retired legal tool notice #}
      {% endif %}
      {% if not legal_code.html %}
        {% include 'includes/about_cc_and_license.html' %}  {#  CC IS NOT A LAW FIRM #}
        {% include 'includes/use_of_licenses.html' %}  {# Considerations... #}
        {% if license.category == "publicdomain" and license.unit == "zero" %}
          {% include 'includes/legalcode_zero.html' %}  {# <<< THE ACTUAL CC0 LICENSE TEXT #}
        {% elif license.category == "licenses" and license.version == "4.0" %}
          {% include 'includes/legalcode_licenses_4.0.html' %}  {# <<< THE ACTUAL 4.0 LICENSE TEXT #}
        {% elif license.category == "licenses" and license.version == "3.0" and not license.jurisdiction_code %}
          {% include 'includes/legalcode_licenses_3.0_unported.html' %}  {# <<< THE ACTUAL 3.0 unported LICENSE TEXT #}
        {% else %}
          <div id="legal-code-body" class="padding-larger margin-top-bigger has-text-black    ">
            <p class="has-text-black body-big padding-bottom-normal"><strong>{% trans "Unimplemented" %}</strong> &mdash; {% blocktrans %}this legal tool does not have a valid template. Please report this issue:{% endblocktrans %} <a href="https://github.com/creativecommons/cc-licenses/issues">Issues · creativecommons/cc-licenses</a>.</p>
          </div>
        {% endif %}
        {% include 'includes/about_cc.html' %}
        {# NOTE: plaintext functionality disabled #}
        {# {% include 'includes/view_legal_code_link_plain_text.html' %} #}
      {% else %}
        {% include "includes/legalcode_crude_html.html" %}
      {% endif %}
      {% include 'includes/related_links.html' %}
    </div>
  </div>


<style>
  #legal-code-body {
    background-color: rgb(255, 255, 255);
    border-top: 10px solid rgb(60, 92, 153);
    border-bottom: 5px solid rgb(176, 176, 176);
    border-left: 5px solid rgb(176, 176, 176);
    border-right: 5px solid rgb(176, 176, 176);
  }
</style>
{% endblock %}

{% block extra-js%}
  <script>
    /*
      Show/Hide Functionality for expand/collapse sections in use_of_licenses.html
    */
    let arrowArray = Array.from(document.getElementsByClassName("angle-down"))
    arrowArray.forEach(function(arrow) {
      arrow.addEventListener("click", handleArrowClicked);
    });

    function handleArrowClicked() {
      // Toggle consideration section's screen reader announcement text (inside of icon)
      if (this.dataset.consideration === "1" && this.dataset.direction === "down") {
        this.firstChild.innerHTML = "{% trans "Hide Considerations for Licensors" %}"
      } else if (this.dataset.consideration !== "1" && this.dataset.direction === "down") {
        this.firstChild.innerHTML = "{% trans "Hide Considerations for the Public" %}"
      } else if (this.dataset.consideration === "1" && this.dataset.direction === "up") {
        this.firstChild.innerHTML = "{% trans "Show Considerations for Licensors" %}"
      } else {
        this.firstChild.innerHTML = "{% trans "Show Considerations for the Public" %}"
      }
      // Toggle icon between up and down
      if (this.dataset.direction === "down") {
        // toggle icon to up arrow icon
        this.classList.remove("angle-down")
        this.classList.add("angle-up")
        this.dataset.direction = "up"
        // show <p> tag
        this.parentNode.parentNode.nextSibling.nextSibling.classList.remove("is-hidden");
      } else {
        // toggle icon to up arrow icon
        this.classList.add("angle-down")
        this.classList.remove("angle-up")
        this.dataset.direction = "down"
        // hide <p> tag
        this.parentNode.parentNode.nextSibling.nextSibling.classList.add("is-hidden");
      }
    };

  </script>
{% endblock %}
{# vim: ft=jinja.html ts=2 sw=2 sts=2 sr et #}
