{% extends 'base.html' %}
{% load bidi i18n license_tags static %}


{% block title %}{{ category_list }}{% endblock %}


{% block title_header %}<h1>{{ category_list }}</h1>{% endblock %}


{% block contextual_menu %}
<aside class="sidebar">
  <nav>
    <ul class="menu-list">
      {% regroup tools|dictsort:"identifier" by identifier as identifier_list %}
      {% for identifier_group in identifier_list %}
        {% with identifier=identifier_group.grouper %}
          <li>
            <a class="link" href="#{{ category|slugify }}-{{ identifier|slugify }}">{{ identifier }} {{ category_title }}</a>
          </li>
        {% endwith %}
      {% endfor %}
    </ul>
  </nav>
</aside>
{% endblock %}


{% block content %}
{% trans "Deed" as deed_label_translated %}
{% trans "Legal Code" as legal_code_label_translated %}

{% include 'includes/related_links.html' with show_standard_deed=True %}

{% regroup tools|dictsort:"identifier" by identifier as identifier_list %}
{% for identifier_group in identifier_list %}
{% with identifier=identifier_group.grouper %}
  <h2 id="{{ category|slugify }}-{{ identifier|slugify }}" class="b-header">{{ identifier }} {{ category_title }}</h2>
  {% regroup identifier_group.list|dictsort:"jurisdiction_name" by jurisdiction_name as jurisdiction_name_list %}
  {% for jurisdiction_name_group in jurisdiction_name_list %}
    <h3 id="{{ jurisdiction_name_group.grouper|slugify }}-{{ identifier|slugify }}">{% trans jurisdiction_name_group.grouper %}</h3>
    <table>
      <thead>
      <tr>
        <th rowspan="2" style="padding-right: 50px;" width="46%">{% trans "Language" %}</th>
        <th colspan="{{ jurisdiction_name_group.list|units|length }}">
          {% trans "Legal Tools" %}
        </th>
      </tr>
      <tr>
        {% for code in jurisdiction_name_group.list|units %}
          <th><code>{{ code }}</code></th>
        {% endfor %}
      </tr>
      </thead>
      <tbody>
        {% regroup jurisdiction_name_group.list|dictsort:"language_sort" by language_name as language_list %}
        {% for legal_code_group in language_list %}
        {% with language_name=legal_code_group.grouper %}
          <tr>
            <td data-label="{% trans "Language" %}">{{ language_name }}</td>
            {% for legal_code in legal_code_group.list  %}
              <td data-label="{{ legal_code.unit }}">
                <a href="{{ legal_code.deed_url }}"{% if not legal_code.deed_translated %} style="color: black; font-style: italic;"{% endif %}>{{ deed_label_translated }}</a>{% if not legal_code.deed_only %}<br>
              <a href="{{ legal_code.legal_code_url }}">{{ legal_code_label_translated }}</a>{% endif %}
              </td>
            {% endfor %}
          </tr>
        {% endwith %}
        {% endfor %}
      </tbody>
    </table>
  {% endfor %}
{% endwith %}
{% endfor %}

{% endblock %}
{# vim: ft=jinja.html ts=2 sw=2 sts=2 sr et #}
