{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans %}Page Not Found{% endblocktrans %} :({% endblock %}

{% block active-breadcrumb-li %}
  <li class="is-active"><a href="{% url 'error_404' %}" aria-current="page displayed">404</a></li>
{% endblock %}

{% block content %}
  <h1 class="b-header">Not found <span>:(</span></h1>
  <p class="padding-bottom-small">Sorry, but the page you were trying to view does not exist.</p>
  <p class="padding-bottom-small">
    It looks like this was the result of either:
    <ul>
      <li><i class="icon circle-filled"></i>a mistyped address</li>
      <li><i class="icon circle-filled"></i>an out-of-date link</li>
    </ul>
  </p>
{% endblock %}

{% block extra-js %}
  <script>
  var GOOG_FIXURL_LANG = (navigator.language || '').slice(0,2),GOOG_FIXURL_SITE = location.host;
  </script>
  <script src="//linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
{% endblock %}
{# vim: ft=jinja.html ts=2 sw=2 sts=2 sr et #}
