<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">{% load i18n %}
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://creativecommons.org/ns#"
      xmlns:dc="http://purl.org/dc/elements/1.1/"
      xmlns:dct="http://purl.org/dc/terms/"
      xmlns:frbr="http://purl.org/vocab/frbr/core#"
      xml:lang="{{ target_lang }}">
  <head about="{{ license.about }}">
    <meta http-equiv="Content-Type"
	  content="application/xhtml+xml; charset=utf-8" />
    <title>
      {% block title %}
        Creative Commons &mdash; {% trans license.title_english %}
      {% endblock %}
    </title>

    <meta http-equiv="content-type" content="text/html;charset=utf-8" />

    <link rel="alternate" type="application/rdf+xml" href="rdf" />

    {% include "includes/language_javascript.html" %}
    {% block headers %}{% endblock %}
  </head>

  {# Translators: Change hide-banner to an empty string to show the complete site header and footer #}  <body typeof="cc:License"
        about="{{ license.about }}"
        class="license {{ get_ltr_rtl }} {% if target_lang != 'en' %}{% blocktrans %}hide-banner{% endblocktrans %}{% endif %}">
    {% block page_top %}{% endblock %}
    <div id="page" class="site">
      <div class="site-inner">
        <a class="skip-link screen-reader-text" href="#content">{% blocktrans %}Skip to content{% endblocktrans %}</a>

        {% include "includes/cc_site_header.html" %}
        <div id="content" class="site-content">
          <aside id="header-below" class="widget-area">
            <section id="text-15" class="widget-1 widget-first widget-last widget-odd widget widget_text">
              <div class="textwidget">
                <div id="donation-bar-wrapper" class="donation-bar-wrapper">
                  <div id="donation-bar-inner" class="donation-bar-inner">
                    <p class="donate-text">{% blocktrans %}Help us build a vibrant, collaborative global commons{% endblocktrans %}</p>
                    <div class="donate-action"><a href="https://us.netdonor.net/page/6650/donate/1?ea.tracking.id=deed-top" class="button donate arrow">{% blocktrans %}Donate{% endblocktrans %}<span class="hide-on-mobile"> {% blocktrans %}Now{% endblocktrans %}</span></a></div>
                  </div>
                </div>
              </div>
            </section>
          </aside>

          {% include "includes/language_selector.html" %}

          <div id="primary" class="content-area">
            <main id="main" class="site-main container" role="main">
              <div id="deed" class="row" dir="{{ get_ltr_rtl }}" style="{{ is_rtl_align }}">
                <div id="deed-head" class="row">
                  <div class="print-only icon cc-logo-print">
                    <img alt="cc logo" src="/images/deed/cc-logo.jpg" />
                  </div>
                  <div id="cc-link">
                    <a rel="dc:creator dct:creator" href="/">
                      <span property="dc:title dct:title">Creative Commons</span>
                    </a>
                  </div>
                  <h1><span>{% blocktrans %}Creative Commons License Deed{% endblocktrans %}</span></h1>

                  <div id="deed-license">
                    <h2>
                      {% block license_logos %}{% endblock %}
                      {% block license_name %}{% endblock %}
                    </h2>
                  </div>
                </div>

                <div id="deed-main" dir="{{ get_ltr_rtl }}" style="{{ is_rtl_align }}" class="row">
                  <div id="legalcode-block">
                    {% block legalcode_block %}{% endblock %}
                  </div>

                  <div id="deed-main-content" class="row {% if license.jurisdiction_code %}{{ license.jurisdiction_code }}{% endif %}">
                    {% block body %}{% endblock %}
                  </div>
                </div>
                <div class="row" id="footer">
                  {% if not license.deprecated %}
                    <p class="learn-more-cc">
                      {% block use_this_license %}{% endblock %}
                    </p>
                  {% endif %}
                  <noscript>
                    <div id="deed-donate-footer">
                      <div class="footer-trigger">
                        <img src="/images/deed/cc_heart_x2.png" class="footer-logo" alt="" width="133" height="117" />
                        <div class="footer-trigger-content">
                          <p>{% blocktrans %}This content is freely available under simple legal terms because of Creative Commons, a non-profit that survives on donations. If you love this content, and love that it's free for everyone, please consider a donation to support our work.{% endblocktrans %}</p>
                          <a href="https://us.netdonor.net/page/6650/donate/1?ea.tracking.id=license-footer"><button>Make a Donation</button></a>
                        </div>
                      </div>
                    </div>
                  </noscript>
                  {% include "includes/translations.html" %}
                </div>
                {% include "includes/deed_donate_slide.html" %}

                {% block disclaimer %}{% endblock %}

                <div id="deed-foot">
                  {% block footer %}{% endblock %}
                </div>
              </div>
            </main>
          </div>
        </div>

        {% include "includes/cc_site_footer.html" %}
      </div>
    </div>

    <script type='text/javascript'>
      /* <![CDATA[ */
      var screenReaderText = {"expand":"{% blocktrans %}expand child menu{% endblocktrans %}","collapse":"{% blocktrans %}collapse child menu{% endblocktrans %}"};
      /* ]]> */
    </script>
  </body>
</html>
