{% load bidi i18n %}
{# https://bulma.io/documentation/helpers/visibility-helpers/ #}
{# is-hidden-touch means hidden if screen is *narrower* than the typical desktop #}
{# So this is the DESKTOP or WIDE version of the icon row. #}
{# Figma mockup has this line left-justified #}
<h3 class="is-hidden-touch">
  {# Icon Sections #}
    <span class="padding-{% bidi_end %}-bigger">
{% for code in tool.logos %}{% include 'includes/snippet/icon.html' with icon_type=code is_icon_header=True additional_classes='padding-bottom-small' %}{% endfor %}
    </span>
  {{ tool.identifier }}
</h3>
{# is-hidden-desktop means hidden if screen is larger than typical mobile and tablet-sized screens #}
{# is-hidden-mobile means hidden if screen is no wider than a typical mobile device #}
{# I think that leaves this as the TABLET or MEDIUM version. #}
<h3 class="is-hidden-desktop is-hidden-mobile">
  {# Icon Sections #}
    <span class="padding-{% bidi_end %}-big">
{% for code in tool.logos %}{% include 'includes/snippet/icon.html' with icon_type=code is_icon_header=True additional_classes='padding-bottom-small' %}{% endfor %}
    </span>
    {{ tool.identifier }}
</h3>
{# is-hidden-tablet means hidden for any screen bigger than a typical mobile (go figure) #}
{# so this is the PHONE or NARROW version. #}
<h3 class="is-hidden-tablet">
  {# Icon Sections #}
    <span>
{% for code in tool.logos %}{% include 'includes/snippet/icon.html' with icon_type=code is_icon_header=True additional_classes='padding-bottom-small margin-horizontal-smaller margin-vertical-small' %}{% endfor %}
    </span>
</h3>
<h4 class="has-text-centered is-hidden-tablet padding-{% bidi_start %}-normal">{{ tool.identifier }}</h4>
<h2 class="margin-bottom-larger b-header is-hidden-touch">{{ tool_title }}</h2>
<h3 class="margin-bottom-larger b-header is-hidden-desktop has-text-centered">{{ tool_title }}</h3>
{# vim: ft=jinja.html ts=2 sw=2 sts=2 sr et #}
